Loading data into Pandas

In [1]:
# import data
import pandas as pd
import numpy as np
import os
import shutil
import datetime as dt

In [2]:
# Name of the CSV file
Game='final-project/Game_Passing_df.csv'
season='final-project/new_df.csv'

 Reading Data in Pandas

In [3]:
# read csv file
df= pd.read_csv(Game)
df.head()

,GameID,Team,Opponent,Player_Name,Attempts,Completions,Drives,Comp_Perc,Total_Yards,Total_Raw_AirYards,...,yacWPA_per_Comp,yacWPA_Comp_per_Drive,yacWPA_Drop_per_Drive,yac_Success_Rate,yac_Rec_Success_Rate,yac_Win_Success_Rate,yac_Comp_Win_Success_Rate,Unnamed: 92,Unnamed: 93,season
0,2009091000,PIT,TEN,B.Roethlisberger,43,33,11,0.767442,363,402,...,0.022227,0.066681,0.019502,0.581395,0.534884,0.674419,0.581395,NaN,NaN,2009.0
1,2009091000,TEN,PIT,K.Collins,35,22,10,0.628571,244,300,...,0.019970,0.043934,-0.085004,0.571429,0.485714,0.571429,0.485714,NaN,NaN,2009.0
2,2009091300,ATL,MIA,M.Ryan,36,22,10,0.611111,229,321,...,0.016242,0.035732,-0.058872,0.444444,0.444444,0.444444,0.444444,NaN,NaN,2009.0
3,2009091300,MIA,ATL,C.Pennington,30,20,9,0.666667,182,159,...,0.004516,0.010037,-0.034711,0.600000,0.466667,0.533333,0.433333,NaN,NaN,2009.0
4,2009091301,BAL,KC,J.Flacco,43,26,10,0.604651,312,434,...,0.031700,0.082420,-0.125071,0.465116,0.418605,0.465116,0.418605,NaN,NaN,2009.0

In [4]:
# read csv file
df_new= pd.read_csv(season)
df_new.head()

,GameID,Team,Attempts,Completions,Drives,Total_Yards,season,Total_Raw_AirYards
0,2009091000,PIT,43,33,11,363,2009.0,402
1,2009091000,TEN,35,22,10,244,2009.0,300
2,2009091300,ATL,36,22,10,229,2009.0,321
3,2009091300,MIA,30,20,9,182,2009.0,159
4,2009091301,BAL,43,26,10,312,2009.0,434

In [5]:
pd.merge(df_new, df, on='GameID')

,GameID,Team_x,Attempts_x,Completions_x,Drives_x,Total_Yards_x,season_x,Total_Raw_AirYards_x,Team_y,Opponent,...,yacWPA_per_Comp,yacWPA_Comp_per_Drive,yacWPA_Drop_per_Drive,yac_Success_Rate,yac_Rec_Success_Rate,yac_Win_Success_Rate,yac_Comp_Win_Success_Rate,Unnamed: 92,Unnamed: 93,season_y
0,2009091000,PIT,43,33,11,363,2009.0,402,PIT,TEN,...,0.022227,0.066681,0.019502,0.581395,0.534884,0.674419,0.581395,NaN,NaN,2009.0
1,2009091000,PIT,43,33,11,363,2009.0,402,TEN,PIT,...,0.019970,0.043934,-0.085004,0.571429,0.485714,0.571429,0.485714,NaN,NaN,2009.0
2,2009091000,TEN,35,22,10,244,2009.0,300,PIT,TEN,...,0.022227,0.066681,0.019502,0.581395,0.534884,0.674419,0.581395,NaN,NaN,2009.0
3,2009091000,TEN,35,22,10,244,2009.0,300,TEN,PIT,...,0.019970,0.043934,-0.085004,0.571429,0.485714,0.571429,0.485714,NaN,NaN,2009.0
4,2009091300,ATL,36,22,10,229,2009.0,321,ATL,MIA,...,0.016242,0.035732,-0.058872,0.444444,0.444444,0.444444,0.444444,NaN,NaN,2009.0
5,2009091300,ATL,36,22,10,229,2009.0,321,MIA,ATL,...,0.004516,0.010037,-0.034711,0.600000,0.466667,0.533333,0.433333,NaN,NaN,2009.0
6,2009091300,MIA,30,20,9,182,2009.0,159,ATL,MIA,...,0.016242,0.035732,-0.058872,0.444444,0.444444,0.444444,0.444444,NaN,NaN,2009.0
7,2009091300,MIA,30,20,9,182,2009.0,159,MIA,ATL,...,0.004516,0.010037,-0.034711,0.600000,0.466667,0.533333,0.433333,NaN,NaN,2009.0
8,2009091301,BAL,43,26,10,312,2009.0,434,BAL,KC,...,0.031700,0.082420,-0.125071,0.465116,0.418605,0.465116,0.418605,NaN,NaN,2009.0
9,2009091301,BAL,43,26,10,312,2009.0,434,KC,BAL,...,0.037757,0.060412,-0.016600,0.416667,0.416667,0.416667,0.416667,NaN,NaN,2009.0
10,2009091301,KC,24,16,10,177,2009.0,163,BAL,KC,...,0.031700,0.082420,-0.125071,0.465116,0.418605,0.465116,0.418605,NaN,NaN,2009.0
11,2009091301,KC,24,16,10,177,2009.0,163,KC,BAL,...,0.037757,0.060412,-0.016600,0.416667,0.416667,0.416667,0.416667,NaN,NaN,2009.0
12,2009091302,CAR,34,14,13,138,2009.0,216,CAR,PHI,...,0.009196,0.009904,-0.026293,0.382353,0.235294,0.323529,0.235294,NaN,NaN,2009.0
13,2009091302,CAR,34,14,13,138,2009.0,216,PHI,CAR,...,0.004776,0.006765,-0.019822,0.482759,0.379310,0.482759,0.413793,NaN,NaN,2009.0
14,2009091302,PHI,29,17,12,102,2009.0,141,CAR,PHI,...,0.009196,0.009904,-0.026293,0.382353,0.235294,0.323529,0.235294,NaN,NaN,2009.0
15,2009091302,PHI,29,17,12,102,2009.0,141,PHI,CAR,...,0.004776,0.006765,-0.019822,0.482759,0.379310,0.482759,0.413793,NaN,NaN,2009.0
16,2009091303,CIN,34,21,10,241,2009.0,222,CIN,DEN,...,0.022563,0.047381,-0.064806,0.558824,0.529412,0.529412,0.529412,NaN,NaN,2009.0
17,2009091303,CIN,34,21,10,241,2009.0,222,DEN,CIN,...,0.042555,0.065766,-0.072928,0.517241,0.482759,0.517241,0.482759,NaN,NaN,2009.0
18,2009091303,DEN,29,17,11,243,2009.0,215,CIN,DEN,...,0.022563,0.047381,-0.064806,0.558824,0.529412,0.529412,0.529412,NaN,NaN,2009.0
19,2009091303,DEN,29,17,11,243,2009.0,215,DEN,CIN,...,0.042555,0.065766,-0.072928,0.517241,0.482759,0.517241,0.482759,NaN,NaN,2009.0
20,2009091304,CLE,35,21,12,205,2009.0,278,CLE,MIN,...,0.008541,0.014946,-0.030389,0.542857,0.457143,0.542857,0.457143,NaN,NaN,2009.0
21,2009091304,CLE,35,21,12,205,2009.0,278,MIN,CLE,...,0.027735,0.035299,-0.023958,0.636364,0.545455,0.681818,0.545455,NaN,NaN,2009.0
22,2009091304,MIN,22,14,11,110,2009.0,97,CLE,MIN,...,0.008541,0.014946,-0.030389,0.542857,0.457143,0.542857,0.457143,NaN,NaN,2009.0
23,2009091304,MIN,22,14,11,110,2009.0,97,MIN,CLE,...,0.027735,0.035299,-0.023958,0.636364,0.545455,0.681818,0.545455,NaN,NaN,2009.0
24,2009091305,HOU,33,18,9,166,2009.0,154,HOU,NYJ,...,0.012507,0.025015,-0.040055,0.606061,0.484848,0.575758,0.454545,NaN,NaN,2009.0
25,2009091305,HOU,33,18,9,166,2009.0,154,NYJ,HOU,...,0.029321,0.052778,-0.080227,0.548387,0.516129,0.548387,0.516129,NaN,NaN,2009.0
26,2009091305,NYJ,31,18,10,272,2009.0,296,HOU,NYJ,...,0.012507,0.025015,-0.040055,0.606061,0.484848,0.575758,0.454545,NaN,NaN,2009.0
27,2009091305,NYJ,31,18,10,272,2009.0,296,NYJ,HOU,...,0.029321,0.052778,-0.080227,0.548387,0.516129,0.548387,0.516129,NaN,NaN,2009.0
28,2009091306,IND,38,28,9,301,2009.0,327,IND,JAC,...,0.037652,0.117139,-0.085836,0.657895,0.631579,0.657895,0.631579,NaN,NaN,2009.0
29,2009091306,IND,38,28,9,301,2009.0,327,JAC,IND,...,0.025498,0.039664,-0.047658,0.500000,0.428571,0.428571,0.357143,NaN,NaN,2009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9191,2017123108,DAL,30,17,11,179,NaN,220,PHI,DAL,...,0.016615,0.031845,-0.068846,0.647059,0.558824,0.558824,0.500000,NaN,NaN,NaN
9192,2017123108,DAL,30,17,11,179,NaN,220,DAL,PHI,...,0.027664,0.042753,-0.065115,0.500000,0.433333,0.466667,0.400000,NaN,NaN,NaN
9193,2017123109,CLE,30,16,11,316,NaN,287,CLE,PIT,...,0.035109,0.051068,-0.102490,0.433333,0.433333,0.400000,0.366667,NaN,NaN,NaN
9194,2017123109,CLE,30,16,11,316,NaN,287,PIT,CLE,...,0.016945,0.038974,-0.025181,0.629630,0.592593,0.666667,0.629630,NaN,NaN,NaN
9195,2017123109,PIT,27,23,10,239,NaN,214,CLE,PIT,...,0.035109,0.051068,-0.102490,0.433333,0.433333,0.400000,0.366667,NaN,NaN,NaN
9196,2017123109,PIT,27,23,10,239,NaN,214,PIT,CLE,...,0.016945,0.038974,-0.025181,0.629630,0.592593,0.666667,0.629630,NaN,NaN,NaN
9197,2017123110,TB,52,29,10,363,NaN,586,TB,NO,...,0.017631,0.051130,-0.156175,0.384615,0.346154,0.307692,0.307692,NaN,NaN,NaN
9198,2017123110,TB,52,29,10,363,NaN,586,NO,TB,...,0.065135,0.159219,-0.042516,0.600000,0.600000,0.600000,0.600000,NaN,NaN,NaN
9199,2017123110,NO,30,22,9,245,NaN,248,TB,NO,...,0.017631,0.051130,-0.156175,0.384615,0.346154,0.307692,0.307692,NaN,NaN,NaN
9200,2017123110,NO,30,22,9,245,NaN,248,NO,TB,...,0.065135,0.159219,-0.042516,0.600000,0.600000,0.600000,0.600000,NaN,NaN,NaN
9201,2017123111,JAC,34,15,12,159,NaN,359,JAC,TEN,...,0.027419,0.034274,-0.081716,0.323529,0.323529,0.352941,0.323529,NaN,NaN,NaN
9202,2017123111,JAC,34,15,12,159,NaN,359,TEN,JAC,...,0.031974,0.038369,-0.062590,0.380952,0.380952,0.380952,0.380952,NaN,NaN,NaN
9203,2017123111,TEN,21,12,10,134,NaN,161,JAC,TEN,...,0.027419,0.034274,-0.081716,0.323529,0.323529,0.352941,0.323529,NaN,NaN,NaN
9204,2017123111,TEN,21,12,10,134,NaN,161,TEN,JAC,...,0.031974,0.038369,-0.062590,0.380952,0.380952,0.380952,0.380952,NaN,NaN,NaN
9205,2017123112,DEN,37,21,9,267,NaN,288,DEN,KC,...,0.016313,0.038063,-0.080593,0.540541,0.459459,0.513514,0.432432,NaN,NaN,NaN
9206,2017123112,DEN,37,21,9,267,NaN,288,KC,DEN,...,0.026253,0.072195,-0.083794,0.527778,0.500000,0.555556,0.500000,NaN,NaN,NaN
9207,2017123112,KC,36,22,8,284,NaN,266,DEN,KC,...,0.016313,0.038063,-0.080593,0.540541,0.459459,0.513514,0.432432,NaN,NaN,NaN
9208,2017123112,KC,36,22,8,284,NaN,266,KC,DEN,...,0.026253,0.072195,-0.083794,0.527778,0.500000,0.555556,0.500000,NaN,NaN,NaN
9209,2017123113,LAC,37,28,8,387,NaN,317,LAC,OAK,...,0.020621,0.072173,-0.038557,0.594595,0.567568,0.621622,0.567568,NaN,NaN,NaN
9210,2017123113,LAC,37,28,8,387,NaN,317,OAK,LAC,...,0.010329,0.024531,-0.051218,0.392857,0.321429,0.428571,0.321429,NaN,NaN,NaN
9211,2017123113,OAK,28,19,8,243,NaN,216,LAC,OAK,...,0.020621,0.072173,-0.038557,0.594595,0.567568,0.621622,0.567568,NaN,NaN,NaN
9212,2017123113,OAK,28,19,8,243,NaN,216,OAK,LAC,...,0.010329,0.024531,-0.051218,0.392857,0.321429,0.428571,0.321429,NaN,NaN,NaN
9213,2017123114,LA,34,20,11,169,NaN,250,LA,SF,...,0.002570,0.004673,-0.058952,0.411765,0.382353,0.382353,0.352941,NaN,NaN,NaN
9214,2017123114,LA,34,20,11,169,NaN,250,SF,LA,...,0.016216,0.029484,-0.068911,0.515152,0.515152,0.515152,0.515152,NaN,NaN,NaN
9215,2017123114,SF,33,20,11,292,NaN,266,LA,SF,...,0.002570,0.004673,-0.058952,0.411765,0.382353,0.382353,0.352941,NaN,NaN,NaN
9216,2017123114,SF,33,20,11,292,NaN,266,SF,LA,...,0.016216,0.029484,-0.068911,0.515152,0.515152,0.515152,0.515152,NaN,NaN,NaN
9217,2017123115,ARI,34,15,13,145,NaN,373,ARI,SEA,...,0.009335,0.010771,-0.102028,0.294118,0.294118,0.294118,0.294118,NaN,NaN,NaN
9218,2017123115,ARI,34,15,13,145,NaN,373,SEA,ARI,...,0.022297,0.033445,-0.045962,0.517241,0.482759,0.517241,0.482759,NaN,NaN,NaN
9219,2017123115,SEA,29,18,12,221,NaN,197,ARI,SEA,...,0.009335,0.010771,-0.102028,0.294118,0.294118,0.294118,0.294118,NaN,NaN,NaN
9220,2017123115,SEA,29,18,12,221,NaN,197,SEA,ARI,...,0.022297,0.033445,-0.045962,0.517241,0.482759,0.517241,0.482759,NaN,NaN,NaN

In [6]:
# filtering specific columns
Data_df = df.reindex(columns=["GameID", "Team", "Attempts", "Completions", "Drives", "Total_Yards","season"])
# Print df
Data_df.head()

       GameID Team  Attempts  Completions  Drives  Total_Yards  season
0  2009091000  PIT        43           33      11          363  2009.0
1  2009091000  TEN        35           22      10          244  2009.0
2  2009091300  ATL        36           22      10          229  2009.0
3  2009091300  MIA        30           20       9          182  2009.0
4  2009091301  BAL        43           26      10          312  2009.0

In [7]:
# save update data
Data_df.to_csv('merge.csv')
Data_df.head()

       GameID Team  Attempts  Completions  Drives  Total_Yards  season
0  2009091000  PIT        43           33      11          363  2009.0
1  2009091000  TEN        35           22      10          244  2009.0
2  2009091300  ATL        36           22      10          229  2009.0
3  2009091300  MIA        30           20       9          182  2009.0
4  2009091301  BAL        43           26      10          312  2009.0

Sorting/Describing Data

In [8]:
Data_df.sort_values('Team')

          GameID Team  Attempts  Completions  Drives  Total_Yards  season
4268  2017101507  ARI        22           18      10          283     NaN
2978  2014121100  ARI        30           16      11          139     NaN
2130  2013092207  ARI        35           18      11          187  2017.0
4292  2017102205  ARI        32           15      10          184     NaN
945   2010121907  ARI        33           17      11          196  2012.0
1836  2012111802  ARI        27           11      14           70  2016.0
3159  2015092710  ARI        31           20      10          311     NaN
1649  2012093007  ARI        48           29      15          324  2015.0
2553  2013122912  ARI        48           28      12          407  2018.0
2938  2014113009  ARI        39           24      10          294     NaN
4441  2017112609  ARI        39           23      13          241     NaN
2392  2013112408  ARI        38           26      10          314  2018.0
4570  2017122410  ARI        35           21      11          239     NaN
3069  2014122814  ARI        40           23       9          316     NaN
2520  2013122211  ARI        25           13      11          178  2018.0
531   2010091208  ARI        41           22      11          298  2011.0
964   2010122500  ARI        24           11      11          183  2012.0
4533  2017121707  ARI        41           16      13          190     NaN
3651  2016092500  ARI        51           26      14          260     NaN
3611  2016091112  ARI        37           24       9          271     NaN
2233  2013101700  ARI        46           30      11          260  2017.0
2966  2014120709  ARI        31           16      10          239     NaN
1883  2012112510  ARI        52           31      14          312  2016.0
3546  2015122710  ARI        28           19      10          269     NaN
3712  2016100600  ARI        28           11      13          124     NaN
92    2009092714  ARI        54           32      12          339  2009.0
3302  2015110108  ARI        37           23      12          374     NaN
2282  2013102708  ARI        18           13       9          172  2017.0
738   2010103109  ARI        40           24      14          305  2011.0
4056  2016122410  ARI        27           16      11          284     NaN
...          ...  ...       ...          ...     ...          ...     ...
292   2009112201  WAS        37           24      11          248  2010.0
1043  2011091108  WAS        34           21      10          317  2013.0
1305  2011111309  WAS        32           21       8          215  2014.0
275   2009111507  WAS        27           18       9          228  2010.0
4040  2016122402  WAS        29           18       9          270     NaN
2711  2014100600  WAS        36           21      12          283     NaN
1920  2012120300  WAS        21           13       8          161  2016.0
1775  2012110400  WAS        39           23      10          229  2015.0
2761  2014101908  WAS        28           21       9          274     NaN
1763  2012102808  WAS        35           16       7          177  2015.0
3065  2014122812  WAS        41           27      12          336     NaN
4266  2017101506  WAS        37           25      10          344     NaN
409   2009121311  WAS        28           16      10          222  2010.0
819   2010112108  WAS        49           30      12          376  2012.0
1666  2012100700  WAS        24           15      11          219  2015.0
4113  2017091008  WAS        40           23      10          240     NaN
1134  2011100206  WAS        29           15      12          194  2013.0
3380  2015112206  WAS        30           22      10          207     NaN
642   2010101003  WAS        47           26      14          357  2011.0
2818  2014110206  WAS        28           18      10          251     NaN
2802  2014102700  WAS        30           25      10          299     NaN
1120  2011092600  WAS        36           22      11          250  2013.0
1722  2012102100  WAS        28           20       8          252  2015.0
371   2009120608  WAS        42           30       9          369  2010.0
4087  2017010111  WAS        35           22      13          291     NaN
4504  2017121010  WAS        27           15      11          151     NaN
3775  2016102302  WAS        39           30       9          299     NaN
1714  2012101410  WAS        22           17       8          182  2015.0
1658  2012093011  WAS        34           26      13          323  2015.0
744   2010103111  NaN         1            1       1            0  2011.0

[4609 rows x 7 columns]

In [9]:
Data_df.sort_values('Team',ascending=False)

          GameID Team  Attempts  Completions  Drives  Total_Yards  season
819   2010112108  WAS        49           30      12          376  2012.0
3340  2015111500  WAS        25           20       8          324     NaN
204   2009102600  WAS        43           29      12          284  2009.0
3507  2015122007  WAS        28           22       7          319     NaN
1666  2012100700  WAS        24           15      11          219  2015.0
3472  2015121306  WAS        31           24       8          301     NaN
3455  2015120700  WAS        32           22      12          227     NaN
1714  2012101410  WAS        22           17       8          182  2015.0
1722  2012102100  WAS        28           20       8          252  2015.0
3400  2015112900  WAS        29           20      12          303     NaN
232   2009110800  WAS        27           19       8          208  2009.0
3380  2015112206  WAS        30           22      10          207     NaN
979   2010122608  WAS        39           19      13          182  2012.0
3317  2015110802  WAS        40           22       9          217     NaN
1658  2012093011  WAS        34           26      13          323  2015.0
1763  2012102808  WAS        35           16       7          177  2015.0
591   2010092607  WAS        31           19      12          236  2011.0
1775  2012110400  WAS        39           23      10          229  2015.0
3267  2015102505  WAS        40           33      10          317     NaN
1009  2011010208  WAS        44           26      13          336  2012.0
3231  2015101801  WAS        44           25      12          196     NaN
1213  2011102304  WAS        37           22      10          280  2013.0
275   2009111507  WAS        27           18       9          228  2010.0
3208  2015101103  WAS        33           21      11          219     NaN
1832  2012111800  WAS        15           14      11          200  2016.0
3181  2015100405  WAS        46           31      10          295     NaN
3524  2015122600  WAS        47           32      12          365     NaN
1245  2011103007  WAS        33           20      11          208  2013.0
110   2009100407  WAS        23           13       9          170  2009.0
1552  2012090906  WAS        26           19      10          320  2015.0
...          ...  ...       ...          ...     ...          ...     ...
2194  2013100608  ARI        28           19      11          175  2017.0
3445  2015120609  ARI        40           27      12          362     NaN
3458  2015121000  ARI        35           25       7          310     NaN
502   2010010311  ARI        31           19       9          139  2010.0
1649  2012093007  ARI        48           29      15          324  2015.0
2162  2013092907  ARI        38           21      13          248  2017.0
2282  2013102708  ARI        18           13       9          172  2017.0
920   2010121211  ARI        38           14      13          143  2012.0
3120  2015092006  ARI        24           16       9          185     NaN
3218  2015101108  ARI        18           12      11          171     NaN
2419  2013120106  ARI        41           23      12          303  2018.0
1299  2011111306  ARI        40           21      13          315  2014.0
3159  2015092710  ARI        31           20      10          311     NaN
2392  2013112408  ARI        38           26      10          314  2018.0
4268  2017101507  ARI        22           18      10          283     NaN
3191  2015100410  ARI        45           29      11          354     NaN
1576  2012091602  ARI        27           15      11          140  2015.0
279   2009111509  ARI        37           29      13          340  2010.0
2353  2013111704  ARI        42           30      13          419  2018.0
630   2010100311  ARI        28           15      10          146  2011.0
2336  2013111009  ARI        32           20      11          241  2018.0
4473  2017120311  ARI        32           18      11          242     NaN
711   2010102409  ARI        33           12      12          132  2011.0
3233  2015101802  ARI        44           29      11          421     NaN
3282  2015102600  ARI        29           20      10          275     NaN
1242  2011103005  ARI        21           10       9          153  2013.0
470   2009122710  ARI        38           24      11          313  2010.0
4237  2017100806  ARI        44           28      11          297     NaN
1280  2011110611  ARI        35           20      10          222  2014.0
744   2010103111  NaN         1            1       1            0  2011.0

[4609 rows x 7 columns]

In [10]:
# Read Specific Raw

Data_df.loc[Data_df['Team'] == "PIT"]

          GameID Team  Attempts  Completions  Drives  Total_Yards  season
0     2009091000  PIT        43           33      11          363  2009.0
55    2009092011  PIT        35           23       8          221  2009.0
67    2009092701  PIT        31           22      10          276  2009.0
121   2009100412  PIT        34           27       8          339  2009.0
131   2009101103  PIT        30           23      10          277  2009.0
162   2009101805  PIT        35           23      11          430  2009.0
189   2009102504  PIT        25           14      10          175  2009.0
257   2009110900  PIT        29           21      10          233  2010.0
268   2009111504  PIT        40           20      11          176  2010.0
300   2009112205  PIT        44           33      13          417  2010.0
349   2009112911  PIT        26           12      12          145  2010.0
369   2009120607  PIT        24           18      11          278  2010.0
384   2009121000  PIT        32           18       9          201  2010.0
433   2009122006  PIT        46           29      12          496  2010.0
468   2009122709  PIT        33           17      11          259  2010.0
493   2010010306  PIT        28           18       9          211  2010.0
533   2010091209  PIT        26           18      10          236  2011.0
553   2010091904  PIT        17            9      11           43  2011.0
581   2010092602  PIT        16           12       9          186  2011.0
613   2010100302  PIT        21           12       6          141  2011.0
671   2010101703  PIT        27           16      10          257  2011.0
695   2010102401  PIT        28           19      10          304  2011.0
743   2010103111  PIT        27           16      10          191  2011.0
772   2010110800  PIT        27           18      10          203  2012.0
797   2010111411  PIT        48           30      13          392  2012.0
810   2010112103  PIT        29           18      13          275  2012.0
842   2010112801  PIT        32           20       9          246  2012.0
893   2010120513  PIT        38           22      10          253  2012.0
904   2010121202  PIT        32           21       8          258  2012.0
953   2010121911  PIT        41           23       8          264  2012.0
...          ...  ...       ...          ...     ...          ...     ...
3671  2016092510  PIT        44           24       9          232     NaN
3708  2016100212  PIT        28           23      10          300     NaN
3725  2016100906  PIT        47           34      10          380     NaN
3747  2016101603  PIT        36           20      10          189     NaN
3793  2016102311  PIT        46           29      12          281     NaN
3829  2016110601  PIT        45           23      14          258     NaN
3873  2016111311  PIT        50           37      11          408     NaN
3884  2016112001  PIT        37           24       7          167     NaN
3912  2016112402  PIT        21           14       8          221     NaN
3962  2016120410  PIT        38           24      11          289     NaN
3971  2016121100  PIT        31           17       9          220     NaN
4029  2016121812  PIT        36           21       9          286     NaN
4060  2016122500  PIT        31           24      10          279     NaN
4082  2017010108  PIT        37           24      12          297     NaN
4105  2017091003  PIT        36           24      10          268     NaN
4142  2017091706  PIT        35           22      10          243     NaN
4167  2017092403  PIT        39           22      11          235     NaN
4198  2017100102  PIT        31           18      11          216     NaN
4239  2017100807  PIT        54           33      11          312     NaN
4272  2017101509  PIT        25           17       9          255     NaN
4298  2017102208  PIT        25           15      10          268     NaN
4332  2017102910  PIT        31           17      11          317     NaN
4369  2017111203  PIT        32           20      11          236     NaN
4389  2017111600  PIT        45           31      11          307     NaN
4445  2017112611  PIT        46           34      10          351     NaN
4479  2017120400  PIT        40           24      10          293     NaN
4509  2017121013  PIT        64           44      11          508     NaN
4538  2017121709  PIT        30           22       9          291     NaN
4573  2017122500  PIT        30           20       9          231     NaN
4596  2017123109  PIT        27           23      10          239     NaN

[144 rows x 7 columns]

In [11]:
Data_df.loc[Data_df['Team'] == "TEN"]

          GameID Team  Attempts  Completions  Drives  Total_Yards  season
1     2009091000  TEN        35           22      10          244  2009.0
47    2009092007  TEN        33           21      13          216  2009.0
86    2009092711  TEN        37           15      14          170  2009.0
104   2009100404  TEN        49           29      12          284  2009.0
149   2009101112  TEN        35           19      10          164  2009.0
173   2009101810  TEN        14            2       9            0  2009.0
225   2009110109  TEN        18           15       6          125  2009.0
253   2009110810  TEN        20           12      10          172  2009.0
273   2009111506  TEN        25           17       9          210  2010.0
319   2009112300  TEN        22           12       9          116  2010.0
342   2009112908  TEN        43           27      10          387  2010.0
362   2009120604  TEN        43           24      10          241  2010.0
407   2009121310  TEN        27           17      10          286  2010.0
437   2009122008  TEN        27           14      10          236  2010.0
449   2009122500  TEN        21            8       7           89  2010.0
511   2010010315  TEN        27           17       8          171  2010.0
525   2010091205  TEN        17           13       9          152  2011.0
552   2010091904  TEN        35           25       9          215  2011.0
577   2010092600  TEN        16           10       7          118  2011.0
615   2010100303  TEN        28           17      12          173  2011.0
657   2010101010  TEN        25           12      10          201  2011.0
691   2010101800  TEN        21           14       7          171  2011.0
709   2010102408  TEN        31           17      10          276  2011.0
734   2010103107  TEN        37           18      11          305  2011.0
775   2010111400  TEN        38           18      11          143  2012.0
820   2010112108  TEN        25           15       8          227  2012.0
844   2010112802  TEN        31           17      10          138  2012.0
871   2010120502  TEN        32           14       8          164  2012.0
897   2010120900  TEN        38           28      10          244  2012.0
940   2010121904  TEN        24           14       9          238  2012.0
...          ...  ...       ...          ...     ...          ...     ...
3666  2016092507  TEN        33           17      12          214     NaN
3692  2016100204  TEN        29           12      11          202     NaN
3721  2016100904  TEN        29           20      11          164     NaN
3756  2016101607  TEN        24           17      11          284     NaN
3788  2016102308  TEN        37           22       9          232     NaN
3800  2016102700  TEN        23           19       9          294     NaN
3847  2016110610  TEN        42           27      10          313     NaN
3866  2016111307  TEN        28           20      11          305     NaN
3889  2016112004  TEN        38           25       9          290     NaN
3920  2016112703  TEN        23           15       9          226     NaN
3990  2016121109  TEN        21            6       9           88     NaN
4015  2016121805  TEN        33           19      10          241     NaN
4045  2016122405  TEN        42           21      12          218     NaN
4086  2017010110  TEN        26           16       8          150     NaN
4111  2017091007  TEN        41           25       9          256     NaN
4136  2017091703  TEN        27           15      10          215     NaN
4182  2017092410  TEN        31           20      12          225     NaN
4204  2017100105  TEN        20           10      11          117     NaN
4233  2017100804  TEN        32           21      13          141     NaN
4278  2017101600  TEN        32           23       9          306     NaN
4286  2017102202  TEN        34           21      12          203     NaN
4350  2017110506  TEN        28           19      11          224     NaN
4375  2017111206  TEN        44           25      13          265     NaN
4390  2017111600  TEN        34           22      11          306     NaN
4428  2017112602  TEN        25           17      10          201     NaN
4470  2017120309  TEN        23           15       8          151     NaN
4499  2017121008  TEN        31           16      11          159     NaN
4540  2017121710  TEN        33           23       8          256     NaN
4564  2017122407  TEN        39           22      11          275     NaN
4600  2017123111  TEN        21           12      10          134     NaN

[144 rows x 7 columns]

In [12]:
# Read Headers 
Data_df.columns

Index(['GameID', 'Team', 'Attempts', 'Completions', 'Drives', 'Total_Yards',
       'season'],
      dtype='object')

In [13]:
#Read Each Raw
for index,row in Data_df.iterrows():
    print(index,row['Team'])

0 PIT
1 TEN
2 ATL
3 MIA
4 BAL
5 KC
6 CAR
7 PHI
8 CIN
9 DEN
10 CLE
11 MIN
12 HOU
13 NYJ
14 IND
15 JAC
16 DET
17 NO
18 TB
19 DAL
20 ARI
21 SF
22 NYG
23 WAS
24 SEA
25 STL
26 CHI
27 GB
28 NE
29 BUF
30 SD
31 OAK
32 CAR
33 ATL
34 DET
35 MIN
36 GB
37 CIN
38 JAC
39 ARI
40 KC
41 OAK
42 NE
43 NYJ
44 PHI
45 NO
46 HOU
47 TEN
48 WAS
49 STL
50 TB
51 BUF
52 SEA
53 SF
54 CHI
55 PIT
56 DEN
57 CLE
58 SD
59 BAL
60 NYG
61 DAL
62 MIA
63 IND
64 BAL
65 CLE
66 CIN
67 PIT
68 WAS
69 DET
70 HOU
71 JAC
72 MIN
73 SF
74 NE
75 ATL
76 PHI
77 KC
78 STL
79 GB
80 NYG
81 TB
82 BUF
83 NO
84 SEA
85 CHI
86 TEN
87 NYJ
88 DEN
89 OAK
90 SD
91 MIA
92 ARI
93 IND
94 CAR
95 DAL
96 DET
97 CHI
98 CLE
99 CIN
100 OAK
101 HOU
102 SEA
103 IND
104 TEN
105 JAC
106 NYG
107 KC
108 BAL
109 NE
110 WAS
111 TB
112 BUF
113 MIA
114 NO
115 NYJ
116 DAL
117 DEN
118 SF
119 STL
120 SD
121 PIT
122 GB
123 MIN
124 BAL
125 CIN
126 BUF
127 CLE
128 CAR
129 WAS
130 DET
131 PIT
132 KC
133 DAL
134 NYG
135 OAK
136 TB
137 PHI
138 STL
139 MIN
140 SF
141 ATL
142 HOU
143 ARI
144 DEN
145 NE
146 JAC
147 SEA
148 IND
149 TEN
150 MIA
151 NYJ
152 HOU
153 CIN
154 GB
155 DET
156 JAC
157 STL
158 BAL
159 MIN
160 NYG
161 NO
162 PIT
163 CLE
164 CAR
165 TB
166 KC
167 WAS
168 PHI
169 OAK
170 ARI
171 SEA
172 NE
173 TEN
174 BUF
175 NYJ
176 CHI
177 ATL
178 SD
179 DEN
180 CHI
181 CIN
182 CLE
183 GB
184 SF
185 HOU
186 SD
187 KC
188 MIN
189 PIT
190 IND
191 STL
192 NE
193 TB
194 CAR
195 BUF
196 OAK
197 NYJ
198 ATL
199 DAL
200 NO
201 MIA
202 NYG
203 ARI
204 WAS
205 PHI
206 DEN
207 BAL
208 HOU
209 BUF
210 CHI
211 CLE
212 SEA
213 DAL
214 STL
215 DET
216 GB
217 MIN
218 IND
219 SF
220 NYJ
221 MIA
222 SD
223 OAK
224 JAC
225 TEN
226 ARI
227 CAR
228 NYG
229 PHI
230 ATL
231 NO
232 WAS
233 ATL
234 CHI
235 ARI
236 CIN
237 BAL
238 IND
239 HOU
240 KC
241 JAC
242 NE
243 MIA
244 GB
245 TB
246 NO
247 CAR
248 SEA
249 DET
250 SD
251 NYG
252 SF
253 TEN
254 DAL
255 PHI
256 DEN
257 PIT
258 CHI
259 SF
260 ATL
261 CAR
262 MIA
263 TB
264 DET
265 MIN
266 NYJ
267 JAC
268 PIT
269 CIN
270 STL
271 NO
272 BUF
273 TEN
274 DEN
275 WAS
276 KC
277 OAK
278 SEA
279 ARI
280 DAL
281 GB
282 PHI
283 SD
284 IND
285 NE
286 CLE
287 BAL
288 CAR
289 MIA
290 BAL
291 IND
292 WAS
293 DAL
294 DET
295 CLE
296 GB
297 SF
298 BUF
299 JAC
300 PIT
301 KC
302 MIN
303 SEA
304 ATL
305 NYG
306 TB
307 NO
308 STL
309 ARI
310 DEN
311 SD
312 NE
313 NYJ
314 OAK
315 CIN
316 CHI
317 PHI
318 HOU
319 TEN
320 DET
321 GB
322 OAK
323 DAL
324 NYG
325 DEN
326 ATL
327 TB
328 MIA
329 BUF
330 CLE
331 CIN
332 HOU
333 IND
334 MIN
335 CHI
336 CAR
337 NYJ
338 PHI
339 WAS
340 STL
341 SEA
342 TEN
343 ARI
344 KC
345 SD
346 SF
347 JAC
348 BAL
349 PIT
350 NE
351 NO
352 BUF
353 NYJ
354 ATL
355 PHI
356 TB
357 CAR
358 STL
359 CHI
360 DET
361 CIN
362 TEN
363 IND
364 HOU
365 JAC
366 KC
367 DEN
368 OAK
369 PIT
370 NO
371 WAS
372 CLE
373 SD
374 MIN
375 ARI
376 DAL
377 NYG
378 SF
379 SEA
380 MIA
381 NE
382 GB
383 BAL
384 PIT
385 CLE
386 NO
387 ATL
388 DET
389 BAL
390 CHI
391 GB
392 HOU
393 SEA
394 IND
395 DEN
396 MIA
397 JAC
398 KC
399 BUF
400 MIN
401 CIN
402 NE
403 CAR
404 TB
405 NYJ
406 STL
407 TEN
408 OAK
409 WAS
410 SD
411 DAL
412 NYG
413 PHI
414 SF
415 ARI
416 JAC
417 IND
418 NO
419 DAL
420 BAL
421 CHI
422 BUF
423 NE
424 ARI
425 DET
426 KC
427 CLE
428 ATL
429 NYJ
430 SF
431 PHI
432 GB
433 PIT
434 HOU
435 STL
436 MIA
437 TEN
438 DEN
439 OAK
440 CIN
441 SD
442 SEA
443 TB
444 CAR
445 MIN
446 WAS
447 NYG
448 SD
449 TEN
450 ATL
451 BUF
452 KC
453 CIN
454 OAK
455 CLE
456 SEA
457 GB
458 MIA
459 HOU
460 NYG
461 CAR
462 NE
463 JAC
464 NO
465 TB
466 DEN
467 PHI
468 PIT
469 BAL
470 ARI
471 STL
472 DET
473 SF
474 IND
475 NYJ
476 WAS
477 DAL
478 MIN
479 CHI
480 IND
481 BUF
482 NO
483 CAR
484 JAC
485 CLE
486 PHI
487 DAL
488 CHI
489 DET
490 HOU
491 NE
492 MIA
493 PIT
494 MIN
495 NYG
496 CIN
497 NYJ
498 SF
499 STL
500 ATL
501 TB
502 ARI
503 GB
504 DEN
505 KC
506 OAK
507 BAL
508 SD
509 WAS
510 SEA
511 TEN
512 NO
513 MIN
514 CLE
515 TB
516 BUF
517 MIA
518 CIN
519 NE
520 IND
521 HOU
522 DEN
523 JAC
524 OAK
525 TEN
526 CAR
527 NYG
528 CHI
529 DET
530 STL
531 ARI
532 ATL
533 PIT
534 PHI
535 GB
536 SF
537 SEA
538 DAL
539 WAS
540 BAL
541 NYJ
542 SD
543 KC
544 HOU
545 WAS
546 GB
547 BUF
548 MIN
549 MIA
550 CLE
551 KC
552 TEN
553 PIT
554 DAL
555 CHI
556 DET
557 PHI
558 ARI
559 ATL
560 CAR
561 TB
562 DEN
563 SEA
564 OAK
565 STL
566 NE
567 NYJ
568 BAL
569 CIN
570 JAC
571 SD
572 IND
573 NYG
574 NO
575 SF
576 NYG
577 TEN
578 CIN
579 CAR
580 TB
581 PIT
582 BUF
583 NE
584 BAL
585 CLE
586 DET
587 MIN
588 NO
589 ATL
590 STL
591 WAS
592 HOU
593 DAL
594 SF
595 KC
596 JAC
597 PHI
598 DEN
599 IND
600 OAK
601 ARI
602 SD
603 SEA
604 MIA
605 NYJ
606 GB
607 CHI
608 BUF
609 NYJ
610 CIN
611 CLE
612 BAL
613 PIT
614 DEN
615 TEN
616 DET
617 GB
618 ATL
619 SF
620 NO
621 CAR
622 STL
623 SEA
624 IND
625 JAC
626 OAK
627 HOU
628 PHI
629 WAS
630 ARI
631 SD
632 NYG
633 CHI
634 MIA
635 NE
636 BUF
637 JAC
638 DEN
639 BAL
640 IND
641 KC
642 WAS
643 GB
644 STL
645 DET
646 CAR
647 CHI
648 CIN
649 TB
650 CLE
651 ATL
652 NYG
653 HOU
654 NO
655 ARI
656 DAL
657 TEN
658 SD
659 OAK
660 SF
661 PHI
662 NYJ
663 MIN
664 MIA
665 GB
666 SD
667 STL
668 NE
669 BAL
670 CLE
671 PIT
672 HOU
673 KC
674 DET
675 NYG
676 ATL
677 PHI
678 SEA
679 CHI
680 TB
681 NO
682 DEN
683 NYJ
684 SF
685 OAK
686 DAL
687 MIN
688 WAS
689 IND
690 JAC
691 TEN
692 CIN
693 ATL
694 MIA
695 PIT
696 BUF
697 BAL
698 JAC
699 KC
700 NO
701 CLE
702 CHI
703 WAS
704 CAR
705 SF
706 TB
707 STL
708 PHI
709 TEN
710 SEA
711 ARI
712 SD
713 NE
714 DEN
715 OAK
716 GB
717 MIN
718 DAL
719 NYG
720 DEN
721 SF
722 DAL
723 JAC
724 CIN
725 MIA
726 BUF
727 KC
728 DET
729 WAS
730 CAR
731 STL
732 NYJ
733 GB
734 TEN
735 SD
736 MIN
737 NE
738 ARI
739 TB
740 SEA
741 OAK
742 NO
743 PIT
744 nan
745 IND
746 HOU
747 NYJ
748 DET
749 MIA
750 BAL
751 NE
752 CLE
753 HOU
754 SD
755 BUF
756 CHI
757 MIN
758 ARI
759 ATL
760 TB
761 NO
762 CAR
763 NYG
764 SEA
765 IND
766 PHI
767 KC
768 OAK
769 GB
770 DAL
771 CIN
772 PIT
773 ATL
774 BAL
775 TEN
776 MIA
777 NYJ
778 CLE
779 CIN
780 IND
781 HOU
782 JAC
783 CHI
784 MIN
785 CAR
786 TB
787 DET
788 BUF
789 KC
790 DEN
791 NYG
792 DAL
793 ARI
794 SEA
795 STL
796 SF
797 PIT
798 NE
799 WAS
800 PHI
801 MIA
802 CHI
803 BAL
804 CAR
805 NYJ
806 HOU
807 CIN
808 BUF
809 OAK
810 PIT
811 JAC
812 CLE
813 DET
814 DAL
815 MIN
816 GB
817 NO
818 SEA
819 WAS
820 TEN
821 ARI
822 KC
823 STL
824 ATL
825 SF
826 TB
827 IND
828 NE
829 PHI
830 NYG
831 DEN
832 SD
833 DET
834 NE
835 DAL
836 NO
837 CIN
838 NYJ
839 JAC
840 NYG
841 BUF
842 PIT
843 HOU
844 TEN
845 WAS
846 MIN
847 PHI
848 CHI
849 GB
850 ATL
851 TB
852 BAL
853 CLE
854 CAR
855 SEA
856 KC
857 OAK
858 MIA
859 DEN
860 STL
861 IND
862 SD
863 ARI
864 SF
865 HOU
866 PHI
867 BUF
868 MIN
869 CLE
870 MIA
871 TEN
872 JAC
873 KC
874 DEN
875 WAS
876 NYG
877 CHI
878 DET
879 GB
880 SF
881 TB
882 ATL
883 CIN
884 NO
885 SD
886 OAK
887 IND
888 DAL
889 ARI
890 STL
891 CAR
892 SEA
893 PIT
894 BAL
895 NYJ
896 NE
897 TEN
898 IND
899 NE
900 CHI
901 BUF
902 CLE
903 CIN
904 PIT
905 OAK
906 JAC
907 WAS
908 TB
909 GB
910 DET
911 ATL
912 CAR
913 NO
914 STL
915 SEA
916 SF
917 NYJ
918 MIA
919 DEN
920 ARI
921 SD
922 KC
923 DAL
924 PHI
925 HOU
926 BAL
927 NYG
928 MIN
929 SF
930 SD
931 STL
932 KC
933 MIA
934 BUF
935 CLE
936 CIN
937 IND
938 JAC
939 HOU
940 TEN
941 WAS
942 DAL
943 NYG
944 PHI
945 ARI
946 CAR
947 DET
948 TB
949 NO
950 BAL
951 ATL
952 SEA
953 PIT
954 NYJ
955 OAK
956 DEN
957 GB
958 NE
959 MIN
960 CHI
961 PIT
962 CAR
963 DAL
964 ARI
965 NYJ
966 CHI
967 BUF
968 NE
969 CLE
970 BAL
971 TEN
972 KC
973 TB
974 SEA
975 STL
976 SF
977 MIA
978 DET
979 WAS
980 JAC
981 HOU
982 DEN
983 OAK
984 IND
985 GB
986 NYG
987 SD
988 CIN
989 NO
990 ATL
991 PHI
992 MIN
993 MIA
994 NE
995 BUF
996 NYJ
997 CIN
998 BAL
999 CLE
1000 PIT
1001 JAC
1002 HOU
1003 IND
1004 TEN
1005 KC
1006 OAK
1007 PHI
1008 DAL
1009 WAS
1010 NYG
1011 DET
1012 MIN
1013 CHI
1014 GB
1015 ATL
1016 CAR
1017 NO
1018 TB
1019 SD
1020 DEN
1021 ARI
1022 SF
1023 SEA
1024 STL
1025 NO
1026 GB
1027 PIT
1028 BAL
1029 CLE
1030 CIN
1031 IND
1032 HOU
1033 TEN
1034 JAC
1035 KC
1036 BUF
1037 ATL
1038 CHI
1039 TB
1040 DET
1041 STL
1042 PHI
1043 WAS
1044 NYG
1045 CAR
1046 ARI
1047 SEA
1048 SF
1049 SD
1050 MIN
1051 NYJ
1052 DAL
1053 MIA
1054 NE
1055 DEN
1056 OAK
1057 DET
1058 KC
1059 BUF
1060 OAK
1061 TEN
1062 BAL
1063 JAC
1064 NYJ
1065 IND
1066 CLE
1067 WAS
1068 ARI
1069 TB
1070 MIN
1071 CAR
1072 GB
1073 CHI
1074 NO
1075 PIT
1076 SEA
1077 DAL
1078 SF
1079 NE
1080 SD
1081 CIN
1082 DEN
1083 MIA
1084 HOU
1085 PHI
1086 ATL
1087 STL

1088 NYG
1089 CAR
1090 JAC
1091 NO
1092 HOU
1093 NE
1094 BUF
1095 CLE
1096 MIA
1097 DEN
1098 TEN
1099 PHI
1100 NYG
1101 DET
1102 MIN
1103 CIN
1104 SF
1105 NYJ
1106 OAK
1107 SD
1108 KC
1109 BAL
1110 STL
1111 GB
1112 CHI
1113 ARI
1114 SEA
1115 ATL
1116 TB
1117 IND
1118 PIT
1119 DAL
1120 WAS
1121 CIN
1122 BUF
1123 CLE
1124 TEN
1125 PIT
1126 HOU
1127 DAL
1128 DET
1129 PHI
1130 SF
1131 CAR
1132 CHI
1133 STL
1134 WAS
1135 NO
1136 JAC
1137 MIN
1138 KC
1139 NYG
1140 ARI
1141 ATL
1142 SEA
1143 GB
1144 DEN
1145 OAK
1146 NE
1147 SD
1148 MIA
1149 NYJ
1150 BAL
1151 TB
1152 IND
1153 TEN
1154 PIT
1155 HOU
1156 OAK
1157 KC
1158 IND
1159 CIN
1160 JAC
1161 SEA
1162 NYG
1163 ARI
1164 MIN
1165 NO
1166 CAR
1167 PHI
1168 BUF
1169 TB
1170 SF
1171 NE
1172 NYJ
1173 SD
1174 DEN
1175 GB
1176 ATL
1177 CHI
1178 DET
1179 NYG
1180 BUF
1181 IND
1182 CIN
1183 JAC
1184 PIT
1185 WAS
1186 PHI
1187 DET
1188 SF
1189 STL
1190 GB
1191 CAR
1192 ATL
1193 CLE
1194 OAK
1195 HOU
1196 BAL
1197 NO
1198 TB
1199 DAL
1200 NE
1201 MIN
1202 CHI
1203 MIA
1204 NYJ
1205 MIA
1206 DEN
1207 NYJ
1208 SD
1209 TEN
1210 HOU
1211 ATL
1212 DET
1213 WAS
1214 CAR
1215 TB
1216 CHI
1217 CLE
1218 SEA
1219 PIT
1220 ARI
1221 OAK
1222 KC
1223 MIN
1224 GB
1225 STL
1226 DAL
1227 NO
1228 IND
1229 BAL
1230 JAC
1231 NYG
1232 MIA
1233 JAC
1234 HOU
1235 IND
1236 TEN
1237 CAR
1238 MIN
1239 NO
1240 STL
1241 BAL
1242 ARI
1243 DEN
1244 DET
1245 WAS
1246 BUF
1247 PIT
1248 NE
1249 CLE
1250 SF
1251 SEA
1252 CIN
1253 DAL
1254 PHI
1255 SD
1256 KC
1257 BUF
1258 NYJ
1259 CLE
1260 HOU
1261 KC
1262 MIA
1263 DAL
1264 SEA
1265 WAS
1266 SF
1267 TB
1268 NO
1269 IND
1270 ATL
1271 OAK
1272 DEN
1273 TEN
1274 CIN
1275 NE
1276 NYG
1277 SD
1278 GB
1279 STL
1280 ARI
1281 BAL
1282 PIT
1283 PHI
1284 CHI
1285 SD
1286 OAK
1287 BUF
1288 DAL
1289 CAR
1290 TEN
1291 TB
1292 HOU
1293 PIT
1294 CIN
1295 IND
1296 JAC
1297 KC
1298 DEN
1299 ARI
1300 PHI
1301 DET
1302 CHI
1303 ATL
1304 NO
1305 WAS
1306 MIA
1307 CLE
1308 STL
1309 BAL
1310 SEA
1311 NYG
1312 SF
1313 NE
1314 NYJ
1315 MIN
1316 GB
1317 NYJ
1318 DEN
1319 MIN
1320 OAK
1321 TEN
1322 ATL
1323 BUF
1324 MIA
1325 JAC
1326 CLE
1327 CIN
1328 BAL
1329 WAS
1330 DAL
1331 CAR
1332 DET
1333 TB
1334 GB
1335 SF
1336 ARI
1337 STL
1338 SEA
1339 CHI
1340 SD
1341 PHI
1342 NYG
1343 KC
1344 NE
1345 DET
1346 GB
1347 DAL
1348 MIA
1349 SF
1350 BAL
1351 BUF
1352 NYJ
1353 CLE
1354 CIN
1355 JAC
1356 HOU
1357 ATL
1358 MIN
1359 STL
1360 ARI
1361 IND
1362 CAR
1363 TEN
1364 TB
1365 WAS
1366 SEA
1367 OAK
1368 CHI
1369 PHI
1370 NE
1371 SD
1372 DEN
1373 PIT
1374 KC
1375 NYG
1376 NO
1377 PHI
1378 SEA
1379 WAS
1380 NYJ
1381 KC
1382 CHI
1383 BUF
1384 TEN
1385 OAK
1386 MIA
1387 CLE
1388 BAL
1389 CIN
1390 PIT
1391 DET
1392 NO
1393 TB
1394 CAR
1395 ATL
1396 HOU
1397 MIN
1398 DEN
1399 GB
1400 NYG
1401 DAL
1402 ARI
1403 SF
1404 STL
1405 NE
1406 IND
1407 JAC
1408 SD
1409 CLE
1410 PIT
1411 NE
1412 WAS
1413 OAK
1414 GB
1415 KC
1416 NYJ
1417 HOU
1418 CIN
1419 IND
1420 BAL
1421 MIN
1422 DET
1423 CAR
1424 ATL
1425 PHI
1426 MIA
1427 JAC
1428 TB
1429 NO
1430 TEN
1431 SF
1432 ARI
1433 DEN
1434 CHI
1435 BUF
1436 SD
1437 NYG
1438 DAL
1439 SEA
1440 STL
1441 ATL
1442 JAC
1443 DAL
1444 TB
1445 STL
1446 CIN
1447 BUF
1448 MIA
1449 TEN
1450 IND
1451 NYG
1452 WAS
1453 SEA
1454 CHI
1455 NO
1456 MIN
1457 HOU
1458 CAR
1459 GB
1460 KC
1461 DET
1462 OAK
1463 NYJ
1464 PHI
1465 ARI
1466 CLE
1467 NE
1468 DEN
1469 BAL
1470 SD
1471 PIT
1472 SF
1473 IND
1474 HOU
1475 DEN
1476 BUF
1477 NE
1478 MIA
1479 CLE
1480 BAL
1481 JAC
1482 TEN
1483 KC
1484 OAK
1485 NYJ
1486 NYG
1487 WAS
1488 MIN
1489 TB
1490 CAR
1491 ARI
1492 CIN
1493 STL
1494 PIT
1495 SD
1496 DET
1497 DAL
1498 PHI
1499 SEA
1500 SF
1501 GB
1502 CHI
1503 ATL
1504 NO
1505 NYJ
1506 MIA
1507 BUF
1508 NE
1509 CIN
1510 BAL
1511 PIT
1512 CLE
1513 TEN
1514 HOU
1515 IND
1516 JAC
1517 DAL
1518 NYG
1519 WAS
1520 PHI
1521 DET
1522 GB
1523 MIN
1524 CHI
1525 TB
1526 ATL
1527 NO
1528 CAR
1529 STL
1530 SF
1531 KC
1532 DEN
1533 OAK
1534 SD
1535 ARI
1536 SEA
1537 NYG
1538 DAL
1539 IND
1540 CHI
1541 JAC
1542 MIN
1543 BUF
1544 NYJ
1545 MIA
1546 HOU
1547 TEN
1548 NE
1549 DET
1550 STL
1551 NO
1552 WAS
1553 PHI
1554 CLE
1555 KC
1556 ATL
1557 GB
1558 SF
1559 ARI
1560 SEA
1561 CAR
1562 TB
1563 PIT
1564 DEN
1565 CIN
1566 BAL
1567 OAK
1568 SD
1569 GB
1570 CHI
1571 NYG
1572 TB
1573 NO
1574 CAR
1575 NE
1576 ARI
1577 MIN
1578 IND
1579 BAL
1580 PHI
1581 KC
1582 BUF
1583 CLE
1584 CIN
1585 HOU
1586 JAC
1587 DAL
1588 SEA
1589 STL
1590 WAS
1591 PIT
1592 NYJ
1593 SD
1594 TEN
1595 OAK
1596 MIA
1597 DET
1598 SF
1599 DEN
1600 ATL
1601 NYG
1602 CAR
1603 DAL
1604 TB
1605 STL
1606 CHI
1607 MIN
1608 SF
1609 DET
1610 TEN
1611 WAS
1612 CIN
1613 KC
1614 NO
1615 NYJ
1616 MIA
1617 CLE
1618 BUF
1619 IND
1620 JAC
1621 PHI
1622 ARI
1623 ATL
1624 SD
1625 DEN
1626 HOU
1627 PIT
1628 OAK
1629 NE
1630 BAL
1631 GB
1632 SEA
1633 CLE
1634 BAL
1635 BUF
1636 NE
1637 HOU
1638 TEN
1639 KC
1640 SD
1641 DET
1642 MIN
1643 ATL
1644 CAR
1645 STL
1646 SEA
1647 NYJ
1648 SF
1649 ARI
1650 MIA
1651 DEN
1652 OAK
1653 JAC
1654 CIN
1655 NO
1656 GB
1657 TB
1658 WAS
1659 NYG
1660 PHI
1661 DAL
1662 CHI
1663 ARI
1664 STL
1665 ATL
1666 WAS
1667 PIT
1668 PHI
1669 IND
1670 GB
1671 NYG
1672 CLE
1673 TEN
1674 MIN
1675 CIN
1676 MIA
1677 BAL
1678 KC
1679 CAR
1680 SEA
1681 CHI
1682 JAC
1683 DEN
1684 NE
1685 BUF
1686 SF
1687 NO
1688 SD
1689 NYJ
1690 HOU
1691 TEN
1692 PIT
1693 ATL
1694 OAK
1695 KC
1696 TB
1697 IND
1698 NYJ
1699 CIN
1700 CLE
1701 DET
1702 PHI
1703 STL
1704 MIA
1705 DAL
1706 BAL
1707 ARI
1708 BUF
1709 NE
1710 SEA
1711 SF
1712 NYG
1713 MIN
1714 WAS
1715 HOU
1716 GB
1717 SD
1718 DEN
1719 SEA
1720 SF
1721 NYG
1722 WAS
1723 ARI
1724 MIN
1725 CAR
1726 DAL
1727 TB
1728 NO
1729 GB
1730 STL
1731 BAL
1732 HOU
1733 CLE
1734 IND
1735 BUF
1736 TEN
1737 NE
1738 NYJ
1739 OAK
1740 JAC
1741 PIT
1742 CIN
1743 DET
1744 CHI
1745 TB
1746 MIN
1747 JAC
1748 GB
1749 NYJ
1750 MIA
1751 SD
1752 CLE
1753 IND
1754 TEN
1755 NE
1756 STL
1757 PHI
1758 ATL
1759 CAR
1760 CHI
1761 DET
1762 SEA
1763 WAS
1764 PIT
1765 KC
1766 OAK
1767 DAL
1768 NYG
1769 NO
1770 DEN
1771 ARI
1772 SF
1773 KC
1774 SD
1775 WAS
1776 CAR
1777 ARI
1778 GB
1779 JAC
1780 DET
1781 TEN
1782 CHI
1783 CIN
1784 DEN
1785 CLE
1786 BAL
1787 BUF
1788 HOU
1789 IND
1790 MIA
1791 SEA
1792 MIN
1793 OAK
1794 TB
1795 PIT
1796 NYG
1797 DAL
1798 ATL
1799 PHI
1800 NO
1801 JAC
1802 IND
1803 DEN
1804 CAR
1805 SD
1806 TB
1807 MIA
1808 TEN
1809 BUF
1810 NE
1811 OAK
1812 BAL
1813 NYG
1814 CIN
1815 ATL
1816 NO
1817 DET
1818 MIN
1819 NYJ
1820 SEA
1821 PHI
1822 DAL
1823 STL
1824 SF
1825 CHI
1826 HOU
1827 PIT
1828 KC
1829 MIA
1830 BUF
1831 PHI
1832 WAS
1833 DET
1834 GB
1835 ATL
1836 ARI
1837 TB
1838 CAR
1839 DAL
1840 CLE
1841 STL
1842 NYJ
1843 IND
1844 NE
1845 HOU
1846 JAC
1847 CIN
1848 KC
1849 OAK
1850 NO
1851 DEN
1852 SD
1853 PIT
1854 BAL
1855 SF
1856 CHI
1857 DET
1858 HOU
1859 DAL
1860 WAS
1861 NYJ
1862 NE
1863 OAK
1864 CIN
1865 PIT
1866 CLE
1867 IND
1868 BUF
1869 TEN
1870 JAC
1871 DEN
1872 KC
1873 MIN
1874 CHI
1875 ATL
1876 TB
1877 SEA
1878 MIA
1879 BAL
1880 SD
1881 NO
1882 SF
1883 ARI
1884 STL
1885 NYG
1886 GB
1887 CAR
1888 PHI
1889 NO
1890 ATL
1891 SEA
1892 CHI
1893 GB
1894 MIN
1895 STL
1896 SF
1897 ARI
1898 NYJ
1899 CAR
1900 KC
1901 IND
1902 DET
1903 JAC
1904 BUF
1905 NE
1906 MIA
1907 TEN
1908 HOU
1909 TB
1910 DEN
1911 PIT
1912 BAL
1913 OAK
1914 CLE
1915 SD
1916 CIN
1917 PHI
1918 DAL
1919 NYG
1920 WAS
1921 DEN
1922 OAK
1923 WAS
1924 BAL
1925 CLE
1926 KC
1927 SD
1928 PIT
1929 TEN
1930 IND
1931 JAC
1932 NYJ
1933 CHI
1934 MIN
1935 ATL
1936 CAR
1937 PHI
1938 TB
1939 STL
1940 BUF
1941 DAL
1942 CIN
1943 MIA
1944 SF
1945 NO
1946 NYG
1947 ARI
1948 SEA
1949 DET
1950 GB
1951 HOU
1952 NE
1953 PHI
1954 CIN
1955 GB
1956 CHI
1957 ATL
1958 NYG
1959 TB
1960 NO
1961 STL
1962 MIN
1963 WAS
1964 CLE
1965 JAC
1966 MIA
1967 BAL
1968 DEN
1969 HOU
1970 IND
1971 DET
1972 ARI
1973 CAR
1974 SD
1975 BUF
1976 SEA
1977 DAL
1978 PIT
1979 KC
1980 OAK
1981 NE
1982 SF
1983 NYJ
1984 TEN
1985 DET
1986 ATL
1987 GB
1988 TEN
1989 OAK
1990 CAR
1991 BUF
1992 MIA
1993 CIN
1994 PIT
1995 JAC
1996 NE
1997 IND
1998 KC
1999 NO
2000 DAL
2001 PHI
2002 WAS
2003 TB
2004 STL
2005 BAL
2006 NYG
2007 HOU
2008 MIN
2009 DEN
2010 CLE
2011 ARI
2012 CHI
2013 SF
2014 SEA
2015 NYJ
2016 SD
2017 NYJ
2018 BUF
2019 NE
2020 MIA
2021 BAL
2022 CIN
2023 CLE
2024 PIT
2025 HOU
2026 IND
2027 JAC
2028 TEN
2029 PHI
2030 NYG
2031 DAL
2032 WAS
2033 DET
2034 CHI
2035 GB
2036 MIN
2037 ATL
2038 TB
2039 NO
2040 CAR
2041 DEN
2042 KC
2043 OAK
2044 SD
2045 ARI
2046 SF
2047 STL
2048 SEA
2049 BAL
2050 DEN
2051 NE
2052 BUF
2053 SEA
2054 CAR
2055 CIN
2056 CHI
2057 CLE
2058 MIA
2059 DET
2060 MIN
2061 OAK
2062 IND
2063 JAC
2064 KC
2065 NYJ
2066 TB
2067 ATL
2068 NO
2069 PIT
2070 TEN
2071 ARI
2072 STL
2073 SF
2074 GB
2075 DAL
2076 NYG
2077 WAS
2078 PHI
2079 HOU
2080 SD
2081 NE
2082 NYJ
2083 STL
2084 ATL
2085 CLE
2086 BAL
2087 BUF
2088 CAR
2089 CHI
2090 MIN
2091 GB
2092 WAS
2093 HOU
2094 TEN
2095 IND
2096 MIA
2097 DAL
2098 KC
2099 SD
2100 PHI
2101 ARI
2102 DET
2103 NO
2104 TB
2105 NYG
2106 DEN
2107 JAC
2108 OAK
2109 SF
2110 SEA
2111 CIN
2112 PIT
2113 KC
2114 PHI
2115 HOU
2116 BAL
2117 GB
2118 CIN
2119 STL
2120 DAL
2121 ATL
2122 MIA
2123 CLE
2124 MIN
2125 BUF
2126 NYJ
2127 TB
2128 NE
2129 NO
2130 ARI
2131 TEN
2132 SD
2133 WAS
2134 DET
2135 CAR
2136 NYG
2137 IND
2138 SF
2139 JAC
2140 SEA
2141 PIT
2142 CHI
2143 DEN
2144 OAK
2145 STL
2146 SF
2147 BAL
2148 BUF
2149 CIN
2150 CLE
2151 CHI
2152 DET
2153 HOU
2154 SEA
2155 IND
2156 JAC
2157 KC
2158 NYG
2159 PIT
2160 MIN
2161 TB
2162 ARI
2163 NYJ
2164 TEN
2165 DEN
2166 PHI
2167 OAK
2168 WAS
2169 SD
2170 DAL
2171 ATL
2172 NE
2173 NO
2174 MIA
2175 BUF
2176 CLE
2177 NO
2178 CHI
2179 NE
2180 CIN
2181 DET
2182 GB
2183 IND
2184 SEA
2185 MIA
2186 BAL
2187 NYG
2188 PHI
2189 STL
2190 JAC
2191 TEN
2192 KC
2193 CAR
2194 ARI
2195 DEN
2196 DAL
2197 SD
2198 OAK
2199 HOU
2200 SF
2201 ATL
2202 NYJ
2203 CHI
2204 NYG
2205 BAL
2206 GB
2207 CIN
2208 BUF
2209 DET
2210 CLE
2211 HOU
2212 STL
2213 OAK
2214 KC
2215 MIN
2216 CAR
2217 NYJ
2218 PIT
2219 TB
2220 PHI
2221 DEN
2222 JAC
2223 SEA
2224 TEN
2225 NE
2226 NO
2227 ARI
2228 SF
2229 WAS
2230 DAL
2231 SD
2232 IND
2233 ARI
2234 SEA
2235 TB
2236 ATL
2237 STL
2238 CAR
2239 DET
2240 CIN
2241 CLE
2242 GB
2243 JAC
2244 SD
2245 KC
2246 HOU
2247 MIA
2248 BUF
2249 NE
2250 NYJ
2251 PHI
2252 DAL
2253 CHI
2254 WAS
2255 TEN
2256 SF
2257 BAL
2258 PIT
2259 DEN
2260 IND
2261 MIN
2262 NYG
2263 TB
2264 CAR
2265 DET
2266 DAL
2267 JAC
2268 SF
2269 CLE
2270 KC

2271 MIA
2272 NE
2273 BUF
2274 NO
2275 NYG
2276 PHI
2277 PIT
2278 OAK
2279 NYJ
2280 CIN
2281 ATL
2282 ARI
2283 DEN
2284 WAS
2285 GB
2286 MIN
2287 STL
2288 SEA
2289 CIN
2290 MIA
2291 BUF
2292 KC
2293 CAR
2294 ATL
2295 DAL
2296 MIN
2297 NO
2298 NYJ
2299 STL
2300 TEN
2301 SD
2302 WAS
2303 OAK
2304 PHI
2305 SEA
2306 TB
2307 BAL
2308 CLE
2309 PIT
2310 NE
2311 IND
2312 HOU
2313 CHI
2314 GB
2315 WAS
2316 MIN
2317 ATL
2318 SEA
2319 CIN
2320 BAL
2321 CHI
2322 DET
2323 GB
2324 PHI
2325 IND
2326 STL
2327 OAK
2328 NYG
2329 BUF
2330 PIT
2331 TEN
2332 JAC
2333 CAR
2334 SF
2335 HOU
2336 ARI
2337 DEN
2338 SD
2339 NO
2340 DAL
2341 MIA
2342 TB
2343 IND
2344 TEN
2345 NYJ
2346 BUF
2347 BAL
2348 CHI
2349 CLE
2350 CIN
2351 HOU
2352 OAK
2353 ARI
2354 JAC
2355 MIA
2356 SD
2357 WAS
2358 PHI
2359 DET
2360 PIT
2361 ATL
2362 TB
2363 KC
2364 DEN
2365 NO
2366 SF
2367 MIN
2368 SEA
2369 NYG
2370 GB
2371 NE
2372 CAR
2373 ATL
2374 NO
2375 BAL
2376 NYJ
2377 CLE
2378 PIT
2379 DET
2380 TB
2381 GB
2382 MIN
2383 HOU
2384 JAC
2385 SD
2386 KC
2387 MIA
2388 CAR
2389 CHI
2390 STL
2391 IND
2392 ARI
2393 TEN
2394 OAK
2395 DAL
2396 NYG
2397 NE
2398 DEN
2399 WAS
2400 SF
2401 DET
2402 GB
2403 DAL
2404 OAK
2405 PIT
2406 BAL
2407 CAR
2408 TB
2409 JAC
2410 CLE
2411 TEN
2412 IND
2413 KC
2414 DEN
2415 MIN
2416 CHI
2417 MIA
2418 NYJ
2419 ARI
2420 PHI
2421 ATL
2422 BUF
2423 STL
2424 SF
2425 NE
2426 HOU
2427 SD
2428 CIN
2429 WAS
2430 NYG
2431 NO
2432 SEA
2433 HOU
2434 JAC
2435 BAL
2436 MIN
2437 IND
2438 CIN
2439 NE
2440 CLE
2441 OAK
2442 NYJ
2443 NO
2444 CAR
2445 DET
2446 PHI
2447 MIA
2448 PIT
2449 BUF
2450 TB
2451 WAS
2452 KC
2453 DEN
2454 TEN
2455 ARI
2456 STL
2457 NYG
2458 SD
2459 SF
2460 SEA
2461 ATL
2462 GB
2463 CHI
2464 DAL
2465 DEN
2466 SD
2467 WAS
2468 ATL
2469 CLE
2470 CHI
2471 HOU
2472 IND
2473 JAC
2474 BUF
2475 NE
2476 MIA
2477 PHI
2478 MIN
2479 NYG
2480 SEA
2481 NO
2482 STL
2483 TB
2484 SF
2485 TEN
2486 ARI
2487 NYJ
2488 CAR
2489 OAK
2490 KC
2491 DAL
2492 GB
2493 CIN
2494 PIT
2495 BAL
2496 DET
2497 MIA
2498 BUF
2499 NO
2500 CAR
2501 CIN
2502 MIN
2503 DEN
2504 HOU
2505 JAC
2506 TEN
2507 IND
2508 KC
2509 CLE
2510 NYJ
2511 CHI
2512 PHI
2513 TB
2514 STL
2515 WAS
2516 DAL
2517 DET
2518 NYG
2519 SEA
2520 ARI
2521 GB
2522 PIT
2523 OAK
2524 SD
2525 BAL
2526 NE
2527 ATL
2528 SF
2529 ATL
2530 CAR
2531 GB
2532 CHI
2533 BAL
2534 CIN
2535 DAL
2536 PHI
2537 JAC
2538 IND
2539 MIA
2540 NYJ
2541 DET
2542 MIN
2543 BUF
2544 NE
2545 TB
2546 NO
2547 WAS
2548 NYG
2549 CLE
2550 PIT
2551 HOU
2552 TEN
2553 ARI
2554 SF
2555 DEN
2556 OAK
2557 SD
2558 KC
2559 STL
2560 SEA
2561 GB
2562 SEA
2563 ATL
2564 NO
2565 BAL
2566 CIN
2567 CHI
2568 BUF
2569 WAS
2570 HOU
2571 KC
2572 TEN
2573 NE
2574 MIA
2575 OAK
2576 NYJ
2577 PHI
2578 JAC
2579 PIT
2580 CLE
2581 STL
2582 MIN
2583 DAL
2584 SF
2585 TB
2586 CAR
2587 IND
2588 DEN
2589 DET
2590 NYG
2591 ARI
2592 SD
2593 PIT
2594 BAL
2595 MIA
2596 BUF
2597 DET
2598 CAR
2599 ATL
2600 CIN
2601 CLE
2602 NO
2603 MIN
2604 NE
2605 NYG
2606 ARI
2607 TEN
2608 DAL
2609 WAS
2610 JAC
2611 SD
2612 SEA
2613 STL
2614 TB
2615 KC
2616 DEN
2617 GB
2618 NYJ
2619 OAK
2620 HOU
2621 CHI
2622 SF
2623 PHI
2624 IND
2625 TB
2626 ATL
2627 BUF
2628 SD
2629 TEN
2630 CIN
2631 BAL
2632 CLE
2633 DET
2634 GB
2635 IND
2636 JAC
2637 NE
2638 OAK
2639 NO
2640 MIN
2641 HOU
2642 NYG
2643 WAS
2644 PHI
2645 STL
2646 DAL
2647 SF
2648 ARI
2649 MIA
2650 KC
2651 DEN
2652 SEA
2653 CAR
2654 PIT
2655 NYJ
2656 CHI
2657 NYG
2658 WAS
2659 CAR
2660 BAL
2661 CHI
2662 GB
2663 BUF
2664 HOU
2665 IND
2666 TEN
2667 ATL
2668 MIN
2669 DET
2670 NYJ
2671 OAK
2672 MIA
2673 TB
2674 PIT
2675 SD
2676 JAC
2677 PHI
2678 SF
2679 NO
2680 DAL
2681 NE
2682 KC
2683 MIN
2684 GB
2685 CHI
2686 CAR
2687 DAL
2688 HOU
2689 BUF
2690 DET
2691 IND
2692 BAL
2693 JAC
2694 PIT
2695 NO
2696 TB
2697 ATL
2698 NYG
2699 STL
2700 PHI
2701 CLE
2702 TEN
2703 DEN
2704 ARI
2705 NYJ
2706 SD
2707 KC
2708 SF
2709 NE
2710 CIN
2711 WAS
2712 SEA
2713 IND
2714 HOU
2715 CHI
2716 ATL
2717 BUF
2718 NE
2719 CAR
2720 CIN
2721 PIT
2722 CLE
2723 GB
2724 MIA
2725 MIN
2726 DET
2727 NYJ
2728 DEN
2729 TB
2730 BAL
2731 JAC
2732 TEN
2733 SD
2734 OAK
2735 ARI
2736 WAS
2737 DAL
2738 SEA
2739 PHI
2740 NYG
2741 STL
2742 SF
2743 NE
2744 NYJ
2745 ATL
2746 BAL
2747 BUF
2748 MIN
2749 CHI
2750 MIA
2751 NO
2752 DET
2753 CAR
2754 GB
2755 IND
2756 CIN
2757 CLE
2758 JAC
2759 SEA
2760 STL
2761 WAS
2762 TEN
2763 SD
2764 KC
2765 NYG
2766 DAL
2767 ARI
2768 OAK
2769 SF
2770 DEN
2771 PIT
2772 HOU
2773 SD
2774 DEN
2775 DET
2776 ATL
2777 SEA
2778 CAR
2779 BAL
2780 CIN
2781 JAC
2782 MIA
2783 KC
2784 STL
2785 NE
2786 CHI
2787 NYJ
2788 BUF
2789 MIN
2790 TB
2791 TEN
2792 HOU
2793 PHI
2794 ARI
2795 OAK
2796 CLE
2797 PIT
2798 IND
2799 GB
2800 NO
2801 DAL
2802 WAS
2803 NO
2804 CAR
2805 JAC
2806 CIN
2807 CLE
2808 TB
2809 ARI
2810 DAL
2811 PHI
2812 HOU
2813 NYJ
2814 KC
2815 MIA
2816 SD
2817 MIN
2818 WAS
2819 SF
2820 STL
2821 DEN
2822 NE
2823 OAK
2824 SEA
2825 BAL
2826 PIT
2827 NYG
2828 IND
2829 CIN
2830 CLE
2831 BAL
2832 TEN
2833 BUF
2834 KC
2835 DET
2836 MIA
2837 JAC
2838 DAL
2839 NO
2840 SF
2841 PIT
2842 NYJ
2843 TB
2844 ATL
2845 DEN
2846 OAK
2847 ARI
2848 STL
2849 NYG
2850 SEA
2851 CHI
2852 GB
2853 CAR
2854 PHI
2855 BUF
2856 MIA
2857 ATL
2858 CAR
2859 CHI
2860 MIN
2861 CLE
2862 HOU
2863 PHI
2864 GB
2865 SEA
2866 KC
2867 NO
2868 CIN
2869 NYG
2870 SF
2871 DEN
2872 STL
2873 WAS
2874 TB
2875 SD
2876 OAK
2877 ARI
2878 DET
2879 IND
2880 NE
2881 PIT
2882 TEN
2883 KC
2884 OAK
2885 ATL
2886 CLE
2887 BUF
2888 NYJ
2889 TB
2890 CHI
2891 HOU
2892 CIN
2893 IND
2894 JAC
2895 MIN
2896 GB
2897 NE
2898 DET
2899 PHI
2900 TEN
2901 STL
2902 SD
2903 ARI
2904 SEA
2905 DEN
2906 MIA
2907 SF
2908 WAS
2909 NYG
2910 DAL
2911 NO
2912 BAL
2913 CHI
2914 DET
2915 DAL
2916 PHI
2917 SF
2918 SEA
2919 SD
2920 BAL
2921 CLE
2922 BUF
2923 HOU
2924 TEN
2925 WAS
2926 IND
2927 JAC
2928 NYG
2929 CAR
2930 MIN
2931 PIT
2932 NO
2933 OAK
2934 STL
2935 TB
2936 CIN
2937 ATL
2938 ARI
2939 GB
2940 NE
2941 DEN
2942 KC
2943 MIA
2944 NYJ
2945 CHI
2946 DAL
2947 PIT
2948 CIN
2949 IND
2950 CLE
2951 TB
2952 DET
2953 JAC
2954 HOU
2955 MIA
2956 BAL
2957 NYJ
2958 MIN
2959 NO
2960 CAR
2961 NYG
2962 TEN
2963 WAS
2964 STL
2965 KC
2966 ARI
2967 BUF
2968 DEN
2969 SF
2970 OAK
2971 SEA
2972 PHI
2973 NE
2974 SD
2975 ATL
2976 GB
2977 STL
2978 ARI
2979 ATL
2980 PIT
2981 JAC
2982 BAL
2983 GB
2984 BUF
2985 CAR
2986 TB
2987 CIN
2988 CLE
2989 MIN
2990 DET
2991 IND
2992 HOU
2993 OAK
2994 KC
2995 MIA
2996 NE
2997 NYG
2998 WAS
2999 SD
3000 DEN
3001 TEN
3002 NYJ
3003 SEA
3004 SF
3005 DAL
3006 PHI
3007 NO
3008 CHI
3009 TEN
3010 JAC
3011 PHI
3012 WAS
3013 SD
3014 SF
3015 CAR
3016 CLE
3017 CHI
3018 DET
3019 BAL
3020 HOU
3021 MIA
3022 MIN
3023 NO
3024 ATL
3025 NE
3026 NYJ
3027 KC
3028 PIT
3029 GB
3030 TB
3031 NYG
3032 STL
3033 IND
3034 DAL
3035 BUF
3036 OAK
3037 ARI
3038 SEA
3039 DEN
3040 CIN
3041 ATL
3042 CAR
3043 BAL
3044 CLE
3045 DET
3046 GB
3047 HOU
3048 JAC
3049 SD
3050 KC
3051 MIA
3052 NYJ
3053 CHI
3054 MIN
3055 NE
3056 BUF
3057 NYG
3058 PHI
3059 PIT
3060 CIN
3061 NO
3062 TB
3063 IND
3064 TEN
3065 WAS
3066 DAL
3067 DEN
3068 OAK
3069 ARI
3070 SF
3071 STL
3072 SEA
3073 PIT
3074 NE
3075 CHI
3076 GB
3077 SEA
3078 STL
3079 JAC
3080 CAR
3081 MIA
3082 WAS
3083 IND
3084 BUF
3085 CLE
3086 NYJ
3087 HOU
3088 KC
3089 NO
3090 ARI
3091 SD
3092 DET
3093 DEN
3094 BAL
3095 OAK
3096 CIN
3097 TB
3098 TEN
3099 DAL
3100 NYG
3101 PHI
3102 ATL
3103 MIN
3104 SF
3105 DEN
3106 KC
3107 HOU
3108 CAR
3109 NE
3110 BUF
3111 SD
3112 CIN
3113 TEN
3114 CLE
3115 ATL
3116 NYG
3117 STL
3118 WAS
3119 CHI
3120 ARI
3121 DET
3122 MIN
3123 NO
3124 TB
3125 SF
3126 PIT
3127 OAK
3128 BAL
3129 MIA
3130 JAC
3131 PHI
3132 DAL
3133 GB
3134 SEA
3135 IND
3136 NYJ
3137 WAS
3138 NYG
3139 ATL
3140 DAL
3141 NO
3142 CAR
3143 NYJ
3144 PHI
3145 HOU
3146 TB
3147 SD
3148 MIN
3149 PIT
3150 STL
3151 NE
3152 JAC
3153 BAL
3154 CIN
3155 CLE
3156 OAK
3157 TEN
3158 IND
3159 ARI
3160 SF
3161 SEA
3162 CHI
3163 MIA
3164 BUF
3165 DET
3166 DEN
3167 KC
3168 GB
3169 BAL
3170 PIT
3171 MIA
3172 NYJ
3173 CHI
3174 OAK
3175 HOU
3176 ATL
3177 KC
3178 CIN
3179 JAC
3180 IND
3181 WAS
3182 PHI
3183 TB
3184 CAR
3185 BUF
3186 NYG
3187 CLE
3188 SD
3189 GB
3190 SF
3191 ARI
3192 STL
3193 MIN
3194 DEN
3195 NO
3196 DAL
3197 DET
3198 SEA
3199 HOU
3200 IND
3201 PHI
3202 NO
3203 CHI
3204 KC
3205 CIN
3206 SEA
3207 ATL

3208 WAS
3209 JAC
3210 TB
3211 CLE
3212 BAL
3213 TEN
3214 BUF
3215 GB
3216 STL
3217 DET
3218 ARI
3219 DAL
3220 NE
3221 OAK
3222 DEN
3223 NYG
3224 SF
3225 SD
3226 PIT
3227 ATL
3228 NO
3229 CHI
3230 DET
3231 WAS
3232 NYJ
3233 ARI
3234 PIT
3235 KC
3236 MIN
3237 BUF
3238 CIN
3239 DEN
3240 CLE
3241 TEN
3242 MIA
3243 JAC
3244 HOU
3245 CAR
3246 SEA
3247 SD
3248 GB
3249 BAL
3250 SF
3251 IND
3252 NE
3253 NYG
3254 PHI
3255 SEA
3256 SF
3257 BUF
3258 JAC
3259 CLE
3260 STL
3261 HOU
3262 MIA
3263 NE
3264 NYJ
3265 KC
3266 PIT
3267 WAS
3268 TB
3269 MIN
3270 DET
3271 NO
3272 IND
3273 ATL
3274 TEN
3275 SD
3276 OAK
3277 DAL
3278 NYG
3279 PHI
3280 CAR
3281 BAL
3282 ARI
3283 MIA
3284 NE
3285 DET
3286 KC
3287 BAL
3288 SD
3289 PIT
3290 CIN
3291 HOU
3292 TEN
3293 CHI
3294 MIN
3295 ATL
3296 TB
3297 NO
3298 NYG
3299 SF
3300 STL
3301 CLE
3302 ARI
3303 NYJ
3304 OAK
3305 SEA
3306 DAL
3307 DEN
3308 GB
3309 IND
3310 CAR
3311 CLE
3312 CIN
3313 STL
3314 MIN
3315 GB
3316 CAR
3317 WAS
3318 NE
3319 TEN
3320 NO
3321 MIA
3322 BUF
3323 JAC
3324 NYJ
3325 PIT
3326 OAK
3327 NYG
3328 TB
3329 ATL
3330 SF
3331 DEN
3332 IND
3333 DAL
3334 PHI
3335 SD
3336 CHI
3337 NYJ
3338 BUF
3339 NO
3340 WAS
3341 GB
3342 DET
3343 TB
3344 DAL
3345 CAR
3346 TEN
3347 STL
3348 CHI
3349 PHI
3350 MIA
3351 BAL
3352 JAC
3353 CLE
3354 PIT
3355 OAK
3356 MIN
3357 NYG
3358 NE
3359 DEN
3360 KC
3361 ARI
3362 SEA
3363 CIN
3364 HOU
3365 TEN
3366 JAC
3367 CHI
3368 DEN
3369 DET
3370 OAK
3371 ATL
3372 IND
3373 NYJ
3374 HOU
3375 PHI
3376 TB
3377 MIN
3378 GB
3379 CAR
3380 WAS
3381 DAL
3382 MIA
3383 BAL
3384 STL
3385 CIN
3386 ARI
3387 SF
3388 SEA
3389 SD
3390 KC
3391 NE
3392 BUF
3393 DET
3394 PHI
3395 DAL
3396 CAR
3397 GB
3398 CHI
3399 NYG
3400 WAS
3401 ATL
3402 MIN
3403 STL
3404 CIN
3405 NO
3406 HOU
3407 IND
3408 TB
3409 MIA
3410 NYJ
3411 JAC
3412 SD
3413 OAK
3414 TEN
3415 BUF
3416 KC
3417 ARI
3418 SF
3419 PIT
3420 SEA
3421 DEN
3422 NE
3423 CLE
3424 BAL
3425 GB
3426 DET
3427 NYJ
3428 NYG
3429 HOU
3430 BUF
3431 BAL
3432 MIA
3433 CLE
3434 CIN
3435 JAC
3436 TEN
3437 SF
3438 CHI
3439 MIN
3440 SEA
3441 CAR
3442 NO
3443 ATL
3444 TB
3445 ARI
3446 STL
3447 OAK
3448 KC
3449 SD
3450 DEN
3451 NE
3452 PHI
3453 PIT
3454 IND
3455 WAS
3456 DAL
3457 MIN
3458 ARI
3459 PHI
3460 BUF
3461 TEN
3462 NYJ
3463 PIT
3464 CIN
3465 NE
3466 HOU
3467 IND
3468 JAC
3469 SD
3470 KC
3471 CHI
3472 WAS
3473 ATL
3474 CAR
3475 NO
3476 TB
3477 DET
3478 STL
3479 CLE
3480 SF
3481 DEN
3482 OAK
3483 GB
3484 DAL
3485 BAL
3486 SEA
3487 MIA
3488 NYG
3489 TB
3490 STL
3491 NYJ
3492 DAL
3493 NYG
3494 CAR
3495 PHI
3496 ARI
3497 CHI
3498 MIN
3499 JAC
3500 ATL
3501 IND
3502 HOU
3503 NE
3504 TEN
3505 BAL
3506 KC
3507 WAS
3508 BUF
3509 CLE
3510 SEA
3511 OAK
3512 GB
3513 PIT
3514 DEN
3515 SD
3516 MIA
3517 SF
3518 CIN
3519 NO
3520 DET
3521 SD
3522 OAK
3523 PHI
3524 WAS
3525 JAC
3526 NO
3527 MIA
3528 IND
3529 NYJ
3530 NE
3531 TEN
3532 HOU
3533 CLE
3534 KC
3535 DET
3536 SF
3537 NYG
3538 MIN
3539 ATL
3540 CAR
3541 TB
3542 CHI
3543 DAL
3544 BUF
3545 GB
3546 ARI
3547 SEA
3548 STL
3549 BAL
3550 PIT
3551 DEN
3552 CIN
3553 NYJ
3554 BUF
3555 MIA
3556 NE
3557 BAL
3558 CIN
3559 CLE
3560 PIT
3561 HOU
3562 JAC
3563 IND
3564 TEN
3565 OAK
3566 KC
3567 DAL
3568 WAS
3569 NYG
3570 PHI
3571 DET
3572 CHI
3573 GB
3574 MIN
3575 NO
3576 ATL
3577 TB
3578 CAR
3579 SD
3580 DEN
3581 ARI
3582 SEA
3583 SF
3584 STL
3585 CAR
3586 DEN
3587 ATL
3588 TB
3589 BAL
3590 BUF
3591 HOU
3592 CHI
3593 JAC
3594 GB
3595 KC
3596 SD
3597 NO
3598 OAK
3599 NYJ
3600 CIN
3601 PHI
3602 CLE
3603 TEN
3604 MIN
3605 SEA
3606 MIA
3607 DAL
3608 NYG
3609 IND
3610 DET
3611 ARI
3612 NE
3613 WAS
3614 PIT
3615 LA
3616 SF
3617 NYJ
3618 BUF
3619 CAR
3620 SF
3621 BAL
3622 CLE
3623 DET
3624 TEN
3625 KC
3626 HOU
3627 MIA
3628 NE
3629 NO
3630 NYG
3631 CIN
3632 PIT
3633 WAS
3634 DAL
3635 TB
3636 ARI
3637 SEA
3638 LA
3639 IND
3640 DEN
3641 OAK
3642 ATL
3643 JAC
3644 SD
3645 GB
3646 MIN
3647 PHI
3648 CHI
3649 HOU
3650 NE
3651 ARI
3652 BUF
3653 CAR
3654 MIN
3655 DEN
3656 CIN
3657 DET
3658 GB
3659 BAL
3660 JAC
3661 CLE
3662 MIA
3663 NYG
3664 WAS
3665 OAK
3666 TEN
3667 SEA
3668 SF
3669 TB
3670 LA
3671 PIT
3672 PHI
3673 SD
3674 IND
3675 NYJ
3676 KC
3677 CHI
3678 DAL
3679 NO
3680 ATL
3681 CIN
3682 MIA
3683 IND
3684 JAC
3685 CAR
3686 ATL
3687 BAL
3688 OAK
3689 DET
3690 CHI
3691 HOU
3692 TEN
3693 BUF
3694 NE
3695 NYJ
3696 SEA
3697 CLE
3698 WAS
3699 TB
3700 DEN
3701 ARI
3702 LA
3703 SD
3704 NO
3705 DAL
3706 SF
3707 KC
3708 PIT
3709 NYG
3710 MIN
3711 SF
3712 ARI
3713 BAL
3714 WAS
3715 NE
3716 CLE
3717 PHI
3718 DET
3719 CHI
3720 IND
3721 TEN
3722 MIA
3723 HOU
3724 MIN
3725 PIT
3726 NYJ
3727 DEN
3728 ATL
3729 CIN
3730 DAL
3731 LA
3732 BUF
3733 OAK
3734 SD
3735 GB
3736 NYG
3737 TB
3738 CAR
3739 DEN
3740 SD
3741 SF
3742 BUF
3743 CHI
3744 JAC
3745 LA
3746 DET
3747 PIT
3748 MIA
3749 NE
3750 CIN
3751 CAR
3752 NO
3753 BAL
3754 NYG
3755 CLE
3756 TEN
3757 WAS
3758 PHI
3759 OAK
3760 KC
3761 GB
3762 DAL
3763 ATL
3764 SEA
3765 HOU
3766 IND
3767 NYJ
3768 ARI
3769 GB
3770 CHI
3771 LA
3772 NYG
3773 CLE
3774 CIN
3775 WAS
3776 DET
3777 JAC
3778 OAK
3779 NO
3780 KC
3781 BUF
3782 MIA
3783 BAL
3784 NYJ
3785 MIN
3786 PHI
3787 IND
3788 TEN
3789 SD
3790 ATL
3791 SF
3792 TB
3793 PIT
3794 NE
3795 ARI
3796 SEA
3797 HOU
3798 DEN
3799 JAC
3800 TEN
3801 WAS
3802 CIN
3803 GB
3804 ATL
3805 BUF
3806 NE
3807 CLE
3808 NYJ
3809 DET
3810 HOU
3811 KC
3812 IND
3813 NO
3814 SEA
3815 OAK
3816 TB
3817 SD
3818 DEN
3819 ARI
3820 CAR
3821 PHI
3822 DAL
3823 MIN
3824 CHI
3825 TB
3826 ATL
3827 DEN
3828 OAK
3829 PIT
3830 BAL
3831 DAL
3832 CLE
3833 JAC
3834 KC
3835 NYJ
3836 MIA
3837 MIN
3838 DET
3839 PHI
3840 NYG
3841 LA
3842 CAR
3843 NO
3844 SF
3845 GB
3846 IND
3847 TEN
3848 SD
3849 BUF
3850 SEA
3851 BAL
3852 CLE
3853 CAR
3854 KC
3855 JAC
3856 HOU
3857 DEN
3858 NO
3859 NYJ
3860 LA
3861 PHI
3862 ATL
3863 TB
3864 CHI
3865 GB
3866 TEN
3867 MIN
3868 WAS
3869 SD
3870 MIA
3871 ARI
3872 SF
3873 PIT
3874 DAL
3875 SEA
3876 NE
3877 NYG
3878 CIN
3879 NO
3880 CAR
3881 CIN
3882 BUF
3883 CLE
3884 PIT
3885 DAL
3886 BAL
3887 JAC
3888 DET
3889 TEN
3890 IND
3891 TB
3892 KC
3893 ARI
3894 MIN
3895 NYG
3896 CHI
3897 MIA
3898 LA
3899 NE
3900 SF
3901 PHI
3902 SEA
3903 GB
3904 WAS
3905 HOU
3906 OAK
3907 DET
3908 MIN
3909 WAS
3910 DAL
3911 IND
3912 PIT
3913 ARI
3914 ATL
3915 CIN
3916 BAL
3917 JAC
3918 BUF
3919 CHI
3920 TEN
3921 CLE
3922 NYG
3923 HOU
3924 SD
3925 SF
3926 MIA
3927 NO
3928 LA
3929 SEA
3930 TB
3931 KC
3932 DEN
3933 OAK
3934 CAR
3935 NE
3936 NYJ
3937 GB
3938 PHI
3939 MIN
3940 DAL
3941 ATL
3942 KC
3943 BAL
3944 MIA
3945 CHI
3946 SF
3947 PHI
3948 CIN
3949 HOU
3950 GB
3951 JAC
3952 DEN
3953 NE
3954 LA
3955 DET
3956 NO
3957 OAK
3958 BUF
3959 ARI
3960 WAS
3961 NYG
3962 PIT
3963 TB
3964 SD
3965 SEA
3966 CAR
3967 NYJ
3968 IND
3969 OAK
3970 KC
3971 PIT
3972 BUF
3973 SD
3974 CAR
3975 CIN
3976 CLE
3977 DET
3978 CHI
3979 IND
3980 HOU
3981 JAC
3982 MIN
3983 ARI
3984 MIA
3985 PHI
3986 WAS
3987 NO
3988 TB
3989 DEN
3990 TEN
3991 NYJ
3992 SF
3993 SEA
3994 GB
3995 LA
3996 ATL
3997 DAL
3998 NYG
3999 BAL
4000 NE
4001 LA
4002 SEA
4003 NYJ
4004 MIA
4005 PHI
4006 BAL
4007 CLE
4008 BUF
4009 CHI
4010 GB
4011 DAL
4012 TB
4013 HOU
4014 JAC
4015 TEN
4016 KC
4017 MIN
4018 IND
4019 DET
4020 NYG
4021 NO
4022 ARI
4023 SF
4024 ATL
4025 DEN
4026 NE
4027 OAK
4028 SD
4029 PIT
4030 CIN
4031 WAS
4032 CAR
4033 NYG
4034 PHI
4035 BUF
4036 MIA
4037 CAR
4038 ATL
4039 CHI
4040 WAS
4041 SD
4042 CLE
4043 MIN
4044 GB
4045 TEN
4046 JAC
4047 NE
4048 NYJ
4049 TB
4050 NO
4051 OAK
4052 IND
4053 SF
4054 LA
4055 SEA
4056 ARI
4057 CIN
4058 HOU
4059 BAL
4060 PIT
4061 DEN
4062 KC
4063 DET
4064 DAL
4065 NO
4066 ATL
4067 BAL
4068 CIN
4069 DET
4070 GB
4071 IND
4072 JAC
4073 NE
4074 MIA
4075 MIN
4076 CHI
4077 BUF
4078 NYJ
4079 PHI
4080 DAL
4081 CLE
4082 PIT
4083 TB
4084 CAR
4085 HOU
4086 TEN
4087 WAS
4088 NYG
4089 OAK
4090 DEN
4091 ARI
4092 LA
4093 SD
4094 KC
4095 SEA
4096 SF
4097 NE
4098 KC
4099 NYJ
4100 BUF
4101 CHI
4102 ATL
4103 CIN
4104 BAL
4105 PIT
4106 CLE
4107 ARI
4108 DET
4109 HOU
4110 JAC
4111 TEN
4112 OAK
4113 WAS
4114 PHI
4115 LA
4116 IND
4117 GB
4118 SEA
4119 SF
4120 CAR
4121 DAL
4122 NYG
4123 NO
4124 MIN
4125 LAC
4126 DEN
4127 CIN
4128 HOU
4129 CLE
4130 BAL
4131 CAR
4132 BUF
4133 IND
4134 ARI
4135 JAC
4136 TEN
4137 PHI
4138 KC
4139 NO
4140 NE
4141 MIN
4142 PIT
4143 CHI
4144 TB
4145 LAC
4146 MIA
4147 OAK
4148 NYJ
4149 DAL
4150 DEN
4151 WAS
4152 LA
4153 SEA
4154 SF
4155 GB
4156 ATL
4157 NYG
4158 DET
4159 SF
4160 LA
4161 JAC
4162 BAL
4163 DEN
4164 BUF
4165 CAR
4166 NO
4167 PIT
4168 CHI
4169 DET
4170 ATL
4171 CLE
4172 IND
4173 TB
4174 MIN
4175 NE
4176 HOU
4177 MIA
4178 NYJ
4179 NYG
4180 PHI
4181 SEA
4182 TEN
4183 GB
4184 CIN
4185 LAC
4186 KC
4187 OAK
4188 WAS
4189 ARI
4190 DAL
4191 CHI
4192 GB
4193 NO
4194 MIA
4195 ATL
4196 BUF
4197 BAL
4198 PIT
4199 CLE
4200 CIN
4201 DAL
4202 LA
4203 HOU
4204 TEN
4205 DET
4206 MIN
4207 NE
4208 CAR
4209 JAC
4210 NYJ
4211 ARI
4212 SF
4213 LAC
4214 PHI
4215 NYG
4216 TB
4217 OAK
4218 DEN
4219 IND
4220 SEA
4221 KC
4222 WAS
4223 TB
4224 NE
4225 BUF
4226 CIN
4227 CLE
4228 NYJ
4229 DET
4230 CAR
4231 SF
4232 IND
4233 TEN
4234 MIA
4235 LAC
4236 NYG
4237 ARI
4238 PHI
4239 PIT
4240 JAC
4241 LA
4242 SEA
4243 BAL
4244 OAK
4245 DAL
4246 GB
4247 KC
4248 HOU
4249 MIN
4250 CHI
4251 CAR
4252 PHI
4253 ATL
4254 MIA
4255 BAL
4256 CHI
4257 CLE
4258 HOU
4259 MIN
4260 GB
4261 DET
4262 NO
4263 NYJ
4264 NE
4265 SF
4266 WAS
4267 TB
4268 ARI
4269 JAC
4270 LA
4271 KC
4272 PIT
4273 LAC
4274 OAK
4275 DEN
4276 NYG
4277 IND
4278 TEN
4279 OAK
4280 KC
4281 TB
4282 BUF
4283 CAR
4284 CHI
4285 CLE
4286 TEN
4287 NO
4288 GB
4289 IND
4290 JAC
4291 LA
4292 ARI
4293 MIA
4294 NYJ
4295 BAL
4296 MIN
4297 CIN
4298 PIT
4299 SF
4300 DAL
4301 DEN
4302 LAC
4303 NYG
4304 SEA
4305 ATL
4306 NE
4307 WAS
4308 PHI
4309 MIA
4310 BAL
4311 MIN
4312 CLE
4313 OAK
4314 BUF
4315 IND
4316 CIN
4317 NE
4318 LAC
4319 CHI
4320 NO
4321 NYJ
4322 ATL
4323 SF
4324 PHI
4325 TB
4326 CAR
4327 SEA
4328 HOU
4329 WAS
4330 DAL
4331 DET
4332 PIT
4333 DEN
4334 KC
4335 BUF
4336 NYJ
4337 ATL
4338 CAR
4339 HOU
4340 IND
4341 JAC
4342 CIN
4343 TB
4344 NO
4345 NYG
4346 LA
4347 DEN
4348 PHI
4349 BAL
4350 TEN
4351 SF
4352 ARI
4353 SEA
4354 WAS
4355 KC
4356 DAL
4357 MIA
4358 OAK
4359 GB
4360 DET
4361 ARI
4362 SEA
4363 BUF
4364 NO
4365 CHI
4366 GB
4367 CLE
4368 DET
4369 PIT
4370 IND
4371 JAC
4372 LAC
4373 NYJ
4374 TB
4375 TEN
4376 CIN
4377 WAS
4378 MIN
4379 LA
4380 HOU
4381 DAL
4382 ATL
4383 NYG
4384 SF
4385 NE
4386 DEN
4387 MIA
4388 CAR
4389 PIT
4390 TEN
4391 DET
4392 CHI
4393 CLE
4394 JAC
4395 GB
4396 BAL
4397 ARI
4398 HOU
4399 MIN
4400 LA
4401 NO
4402 WAS
4403 KC
4404 NYG
4405 BUF
4406 LAC
4407 DEN
4408 CIN
4409 OAK
4410 NE
4411 DAL
4412 PHI
4413 MIA
4414 TB
4415 SEA
4416 ATL
4417 DET
4418 MIN
4419 LAC
4420 DAL
4421 WAS
4422 NYG
4423 TB
4424 ATL
4425 CLE
4426 CIN
4427 IND
4428 TEN
4429 KC
4430 BUF
4431 MIA
4432 NE
4433 NYJ
4434 CAR
4435 PHI
4436 CHI
4437 LA
4438 NO
4439 SF
4440 SEA
4441 ARI
4442 JAC

4443 DEN
4444 OAK
4445 PIT
4446 GB
4447 HOU
4448 BAL
4449 WAS
4450 DAL
4451 MIN
4452 ATL
4453 BAL
4454 DET
4455 BUF
4456 NE
4457 SF
4458 CHI
4459 TB
4460 GB
4461 JAC
4462 IND
4463 DEN
4464 MIA
4465 NO
4466 CAR
4467 NYJ
4468 KC
4469 HOU
4470 TEN
4471 LAC
4472 CLE
4473 ARI
4474 LA
4475 OAK
4476 NYG
4477 PHI
4478 SEA
4479 PIT
4480 CIN
4481 NO
4482 ATL
4483 IND
4484 BUF
4485 MIN
4486 CAR
4487 CIN
4488 CHI
4489 GB
4490 CLE
4491 HOU
4492 SF
4493 SEA
4494 JAC
4495 OAK
4496 KC
4497 DET
4498 TB
4499 TEN
4500 ARI
4501 DEN
4502 NYJ
4503 LAC
4504 WAS
4505 PHI
4506 LA
4507 NYG
4508 DAL
4509 PIT
4510 BAL
4511 NE
4512 MIA
4513 IND
4514 DEN
4515 CHI
4516 DET
4517 LAC
4518 KC
4519 MIA
4520 BUF
4521 GB
4522 CAR
4523 BAL
4524 CLE
4525 HOU
4526 JAC
4527 CIN
4528 MIN
4529 NYJ
4530 NO
4531 NYG
4532 PHI
4533 ARI
4534 WAS
4535 SEA
4536 LA
4537 NE
4538 PIT
4539 SF
4540 TEN
4541 OAK
4542 DAL
4543 TB
4544 ATL
4545 BAL
4546 IND
4547 GB
4548 MIN
4549 TB
4550 CAR
4551 CLE
4552 CHI
4553 CIN
4554 DET
4555 KC
4556 MIA
4557 BUF
4558 NE
4559 ATL
4560 NO
4561 LAC
4562 NYJ
4563 LA
4564 TEN
4565 DEN
4566 WAS
4567 JAC
4568 SF
4569 NYG
4570 ARI
4571 DAL
4572 SEA
4573 PIT
4574 HOU
4575 PHI
4576 OAK
4577 ATL
4578 CAR
4579 BAL
4580 CIN
4581 GB
4582 DET
4583 IND
4584 HOU
4585 MIA
4586 BUF
4587 CHI
4588 MIN
4589 NE
4590 NYJ
4591 WAS
4592 NYG
4593 PHI
4594 DAL
4595 CLE
4596 PIT
4597 TB
4598 NO
4599 JAC
4600 TEN
4601 DEN
4602 KC
4603 LAC
4604 OAK
4605 LA
4606 SF
4607 ARI
4608 SEA

In [14]:
# Read each column
print(Data_df[['GameID','Team','Total_Yards']])

          GameID Team  Total_Yards
0     2009091000  PIT          363
1     2009091000  TEN          244
2     2009091300  ATL          229
3     2009091300  MIA          182
4     2009091301  BAL          312
5     2009091301   KC          177
6     2009091302  CAR          138
7     2009091302  PHI          102
8     2009091303  CIN          241
9     2009091303  DEN          243
10    2009091304  CLE          205
11    2009091304  MIN          110
12    2009091305  HOU          166
13    2009091305  NYJ          272
14    2009091306  IND          301
15    2009091306  JAC          122
16    2009091307  DET          267
17    2009091307   NO          358
18    2009091308   TB          277
19    2009091308  DAL          353
20    2009091309  ARI          288
21    2009091309   SF          200
22    2009091310  NYG          256
23    2009091310  WAS          211
24    2009091311  SEA          279
25    2009091311  STL          191
26    2009091312  CHI          277
27    2009091312   GB          184
28    2009091400   NE          378
29    2009091400  BUF          205
...          ...  ...          ...
4579  2017123101  BAL          222
4580  2017123101  CIN          246
4581  2017123102   GB          193
4582  2017123102  DET          323
4583  2017123103  IND          114
4584  2017123103  HOU          137
4585  2017123104  MIA          271
4586  2017123104  BUF          207
4587  2017123105  CHI          178
4588  2017123105  MIN          189
4589  2017123106   NE          212
4590  2017123106  NYJ          233
4591  2017123107  WAS          158
4592  2017123107  NYG          132
4593  2017123108  PHI          173
4594  2017123108  DAL          179
4595  2017123109  CLE          316
4596  2017123109  PIT          239
4597  2017123110   TB          363
4598  2017123110   NO          245
4599  2017123111  JAC          159
4600  2017123111  TEN          134
4601  2017123112  DEN          267
4602  2017123112   KC          284
4603  2017123113  LAC          387
4604  2017123113  OAK          243
4605  2017123114   LA          169
4606  2017123114   SF          292
4607  2017123115  ARI          145
4608  2017123115  SEA          221

[4609 rows x 3 columns]

In [15]:
Data_df.describe()

,GameID,Attempts,Completions,Drives,Total_Yards,season
count,4.609000e+03,4609.000000,4609.000000,4609.000000,4609.000000,2681.000000
mean,2.013138e+09,34.610328,21.370145,10.420699,247.942070,2013.748228
std,2.577971e+06,8.504520,6.080917,1.812695,77.364172,3.030631
min,2.009091e+09,1.000000,1.000000,1.000000,0.000000,2009.000000
25%,2.011100e+09,29.000000,17.000000,9.000000,194.000000,2011.000000
50%,2.013110e+09,34.000000,21.000000,10.000000,244.000000,2014.000000
75%,2.015121e+09,40.000000,25.000000,12.000000,299.000000,2016.000000
max,2.017123e+09,70.000000,47.000000,18.000000,675.000000,2019.000000

In [16]:
Data_df.sort_values('Team',ascending=True)
Data_df.head(40)

        GameID Team  Attempts  Completions  Drives  Total_Yards  season
0   2009091000  PIT        43           33      11          363  2009.0
1   2009091000  TEN        35           22      10          244  2009.0
2   2009091300  ATL        36           22      10          229  2009.0
3   2009091300  MIA        30           20       9          182  2009.0
4   2009091301  BAL        43           26      10          312  2009.0
5   2009091301   KC        24           16      10          177  2009.0
6   2009091302  CAR        34           14      13          138  2009.0
7   2009091302  PHI        29           17      12          102  2009.0
8   2009091303  CIN        34           21      10          241  2009.0
9   2009091303  DEN        29           17      11          243  2009.0
10  2009091304  CLE        35           21      12          205  2009.0
11  2009091304  MIN        22           14      11          110  2009.0
12  2009091305  HOU        33           18       9          166  2009.0
13  2009091305  NYJ        31           18      10          272  2009.0
14  2009091306  IND        38           28       9          301  2009.0
15  2009091306  JAC        28           14       9          122  2009.0
16  2009091307  DET        37           16      12          267  2009.0
17  2009091307   NO        34           26      11          358  2009.0
18  2009091308   TB        42           25      11          277  2009.0
19  2009091308  DAL        27           16      10          353  2009.0
20  2009091309  ARI        41           26      14          288  2009.0
21  2009091309   SF        32           18      10          200  2009.0
22  2009091310  NYG        29           20       8          256  2009.0
23  2009091310  WAS        26           19       9          211  2009.0
24  2009091311  SEA        36           25      10          279  2009.0
25  2009091311  STL        36           17      11          191  2009.0
26  2009091312  CHI        35           17      13          277  2009.0
27  2009091312   GB        29           18      11          184  2009.0
28  2009091400   NE        55           39      10          378  2009.0
29  2009091400  BUF        25           15       8          205  2009.0
30  2009091401   SD        36           24      11          252  2009.0
31  2009091401  OAK        31           14      11          244  2009.0
32  2009092000  CAR        41           25      10          317  2009.0
33  2009092000  ATL        27           20       8          229  2009.0
34  2009092001  DET        30           18       7          154  2009.0
35  2009092001  MIN        28           24       9          169  2009.0
36  2009092002   GB        38           21      11          264  2009.0
37  2009092002  CIN        23           15       9          185  2009.0
38  2009092003  JAC        43           23      12          282  2009.0
39  2009092003  ARI        32           27       8          270  2009.0